In [202]:
import numpy as np
import pandas as pd

import os

import matplotlib.pyplot as plt
import seaborn as sns

import datetime

## start working with the finances information sheet excel file

In [203]:
#load the whole finances information sheet
util_sheets = pd.read_excel('../../../Finances/utils info/legacy/Finances Information Sheet.xlsx', header=None, sheet_name=None)

In [204]:
#show me the keys I use to get each sheet in the file
print(util_sheets.keys())

#get the basic utilities info sheet
utils = util_sheets['Utilities 507 N Curtis']

odict_keys(['Utilities 507 N Curtis', 'All Spending', 'Total Spending Tracker', 'Spending Graph', 'CC Points Tracker', 'Amazon $'])

In [205]:
#use this string query to get the rows that initiate the price/type/breakdown tables I use
gas_header = utils[1] == 'GAS (So Cal Gas)'

In [206]:
#get the indices for the billing period (it is 2 rows below the header)
per = utils.loc[gas_header, :].index + 2

#get the indices for the billing amnt (it is 3 rows below the header)
amnt = utils.loc[gas_header, :].index + 3

#create neat tables with just the 3 utils periods and information
bill_pers = utils.loc[per, [1,2,3]].rename(index=str, columns={1: "gas", 2: "elec", 3: 'internet'})
bill_amnts = utils.loc[amnt, [1,2,3]].rename(index=str, columns={1: "gas", 2: "elec", 3: 'internet'})

In [207]:
#create the multi-column-indexed dataframe that will replace bill_pers
iterables = [['gas', 'elec', 'internet'], ['start', 'end', 'amnt']]

cols = pd.MultiIndex.from_product(iterables)

pers_split = pd.DataFrame(columns=cols)

In [208]:
#need to split the periods into start and end dates for each entry

for util in ['gas', 'elec', 'internet']:
    
    #first collapse out all spaces, then split at the dash
    zz = bill_pers[util].str.replace(' ', '').str.split('-', expand=True).reset_index(drop=True)

    pers_split.loc[:, (util, 'start')] = zz[0]
    pers_split.loc[:, (util, 'end')] = zz[1]
    
    pers_split.loc[:, (util, 'amnt')] = bill_amnts.reset_index(drop=True)[util]
    
bills = pers_split

In [209]:
#bills.to_csv('../personal/utils info/bills_premelt.csv', index=False)

## Deal with the old bills from word doc

In [210]:
oldbills = pd.read_excel('../../../Finances/utils info/legacy/old finances from word.xlsx', sheet_name='Sheet2')
oldbills.head()

,open,close,util,amnt,note
0,2013-08-15 00:00:00,2013-09-04 00:00:00,internet,60.0,includes opening fees
1,2013-08-01 00:00:00,2013-08-28 00:00:00,electricity,87.0,NaN
2,2013-08-01 00:00:00,2013-08-14 00:00:00,gas,28.5,includes opening fees
3,2013-09-15 00:00:00,2013-10-14 00:00:00,internet,30.0,NaN
4,2013-08-29 00:00:00,2013-09-13 00:00:00,electricity,108.0,NaN

In [211]:
def dtime_to_string (obj):
    
    if isinstance(obj, datetime.datetime):
    
        year = str(obj.year)
        month = str(obj.month)
        day = str(obj.day)
    
        return month + '/' + day + '/' + year
    else:
        return obj

In [212]:
#replace the datetime open and close objects with strings to be consistent with bigger bills list

oldbills['open'] = oldbills['open'].apply(dtime_to_string)
oldbills['close'] = oldbills['close'].apply(dtime_to_string)

In [213]:
# oldbills.to_csv('../../../Finances/utils info/legacy/oldbills_tidy.csv', index=False)

## load the bills information and work with it more

In [214]:
bills = pd.read_csv('../../../Finances/utils info/legacy/bills_premelt.csv', header=[0,1])

In [215]:
bills.head()

         gas                        elec                      internet  \
       start        end  amnt      start        end    amnt      start
0  3/18/2014  4/16/2014  5.81   4/1/2014  4/30/2014    5.84  4/15/2014
1  4/16/2014  5/15/2014  4.77  4/30/2014  5/30/2014   72.55  5/15/2014
2  5/16/2014  6/15/2014  6.12  5/30/2014  6/30/2014   56.38  6/15/2014
3  6/16/2014  7/15/2014  6.15  6/30/2014  7/30/2014  226.60  7/15/2014
4  7/16/2014  8/15/2014  4.77  7/30/2014  8/30/2014  122.63  8/15/2014


         end   amnt
0  5/14/2014  29.99
1  6/15/2014  29.99
2  7/14/2014  29.99
3  8/14/2014  29.99
4  9/14/2014  44.99

In [216]:
#convoluted way to melt the multiindex columns by utility (i didn't really understand how to do this over all utils at once)
#and then put them all together 

all_utils_melted = []

for i, utility in enumerate(['gas', 'elec', 'internet']):

    bill_melt = pd.melt(bills, id_vars=[(utility, 'start'), (utility, 'end')], value_vars=[(utility, 'amnt')], value_name='amnt')

    all_utils_melted.append((bill_melt.rename({(utility, 'start') : 'open',
                                            (utility, 'end') : 'close',
                                            'variable_0' : 'util'}, axis='columns')
                           .drop('variable_1', axis='columns')
                          ))
    
bills_melted = pd.concat(all_utils_melted).reset_index(drop=True)

### load in the melted old bills from word again

In [217]:
def names (string):
    if string == 'electricity':
        d = 'elec'
    else:
        d = string
    
    return d

In [218]:
#make the old bills util entries compatible with the melted (non old) bills

oldbills_melted = pd.read_csv('../../../Finances/utils info/legacy/oldbills_tidy.csv')

oldbills_melted['util'] = oldbills_melted['util'].apply(names)

oldbills_melted.head()

        open       close      util   amnt                   note
0  8/15/2013    9/4/2013  internet   60.0  includes opening fees
1   8/1/2013   8/28/2013      elec   87.0                    NaN
2   8/1/2013   8/14/2013       gas   28.5  includes opening fees
3  9/15/2013  10/14/2013  internet   30.0                    NaN
4  8/29/2013   9/13/2013      elec  108.0                    NaN

In [219]:
oldbills_melted.shape

(25, 5)

In [220]:
#join the old and new bills together in eternal union

pd.concat([oldbills_melted, bills_melted], sort=False).sort_values('open').reset_index(drop=True).to_csv('../../../Finances/utils info/legacy/testytesty.csv')

In [221]:
#fixed some entry problems in excel out of script

all_bills = pd.read_csv('../../../Finances/utils info/legacy/testytesty.csv')

In [222]:
def get_dtime (string):
    return datetime.datetime.strptime(string, '%m/%d/%Y')

In [200]:
all_bills['open'] = all_bills['open'].apply(get_dtime)
all_bills['close'] = all_bills['close'].apply(get_dtime)

all_bills

          open      close      util    amnt note
0   2014-01-15 2014-02-14       gas    6.00  NaN
1   2017-12-01 2018-01-31      elec   63.15  NaN
2   2014-02-15 2014-03-14       gas    6.00  NaN
3   2017-02-28 2017-03-29      elec   47.87  NaN
4   2018-04-30 2018-05-30      elec   64.14  NaN
5   2018-06-30 2018-07-30      elec  116.00  NaN
6   2018-09-30 2018-10-30      elec   10.18  NaN
7   2018-01-01 2018-02-28      elec   62.15  NaN
8   2015-01-12 2015-02-12       gas    6.37  NaN
9   2014-01-15 2014-02-14  internet   30.00  NaN
10  2015-01-15 2015-02-14  internet   44.99  NaN
11  2016-01-15 2016-02-14  internet   39.99  NaN
12  2018-01-15 2018-02-14  internet   54.99  NaN
13  2016-01-17 2016-02-16       gas    5.08  NaN
14  2017-01-17 2017-02-16       gas    7.04  NaN
15  2018-01-17 2018-02-16       gas    4.83  NaN
16  2013-01-28 2014-02-28      elec   51.00  NaN
17  2015-01-29 2015-02-28      elec   53.60  NaN
18  2016-01-29 2016-02-29      elec   51.10  NaN
19  2017-01-29 2017-02-28      elec   47.87  NaN
20  2017-10-01 2017-11-30      elec   47.10  NaN
21  2013-10-13 2013-11-12       gas    9.00  NaN
22  2013-10-15 2013-11-14  internet   30.00  NaN
23  2014-10-15 2014-11-14  internet   44.99  NaN
24  2015-10-15 2015-11-14  internet   39.99  NaN
25  2016-10-15 2016-11-14  internet   39.99  NaN
26  2017-10-15 2017-11-14  internet   54.99  NaN
27  2018-10-15 2018-11-14  internet   64.99  NaN
28  2014-10-16 2014-11-15       gas    6.86  NaN
29  2015-10-17 2015-11-16       gas    6.00  NaN
..         ...        ...       ...     ...  ...
160 2015-08-15 2015-09-14  internet   59.99  NaN
161 2016-08-15 2016-09-14  internet   59.99  NaN
162 2017-08-15 2017-09-14  internet   39.99  NaN
163 2018-08-15 2018-09-14  internet   54.99  NaN
164 2014-08-16 2014-09-15       gas    6.26  NaN
165 2015-08-17 2015-09-16       gas    4.96  NaN
166 2016-08-17 2016-09-16       gas    5.62  NaN
167 2017-08-17 2017-09-16       gas    4.97  NaN
168 2013-08-29 2013-09-13      elec  108.00  NaN
169 2015-08-29 2015-09-29      elec  196.62  NaN
170 2016-08-29 2016-09-29      elec   90.41  NaN
171 2014-08-30 2014-09-30      elec  115.19  NaN
172 2018-08-31 2018-09-30      elec   64.72  NaN
173 2017-09-01 2017-10-31      elec   31.22  NaN
174 2018-09-10 2018-10-11       gas    3.94  NaN
175 2013-09-13 2013-10-12       gas    6.00  NaN
176 2013-09-15 2013-10-14  internet   30.00  NaN
177 2014-09-15 2014-10-14  internet   44.99  NaN
178 2015-09-15 2015-10-14  internet   39.99  NaN
179 2016-09-15 2016-10-14  internet   39.99  NaN
180 2017-09-15 2017-10-14  internet   54.99  NaN
181 2018-09-15 2018-10-14  internet   64.99  NaN
182 2014-09-16 2014-10-15       gas    4.60  NaN
183 2015-09-17 2015-10-16       gas    3.86  NaN
184 2016-09-17 2016-10-16       gas    3.68  NaN
185 2017-09-17 2017-10-16       gas    4.56  NaN
186 2013-09-26 2013-10-28      elec   33.00  NaN
187 2014-09-29 2014-10-29      elec   22.81  NaN
188 2015-09-29 2015-10-29      elec   44.77  NaN
189 2016-09-29 2016-10-29      elec   30.55  NaN

[190 rows x 5 columns]

In [223]:
#all_bills.sort_values('close').reset_index(drop=True).to_csv('utilities_tidy.csv', index=False)