In [85]:
"""
This is the function you'll use to add an arbitrary cc table to your running cc history
""";

In [86]:
import pandas as pd
import numpy as np

from openpyxl import load_workbook

import datetime

import glob

## general i/o

In [87]:
def get_dtime (string):
    """
    converts strings to datetime objects using datetime.strptime mostly just wrote this so I could .apply() it in pandas
    method chains
    
    takes (string) which is the full date of format mm/dd/yyyy (can't be 2 digit year)
    """
    return datetime.datetime.strptime(string, '%m/%d/%Y')

In [88]:
def open_full_hist (filepath):
    
    #full cc hist to update
    full_cc_hist = pd.read_csv(filepath)
    full_cc_hist['date'] = full_cc_hist['date'].apply(get_dtime)
    
    return full_cc_hist

## Chase

In [89]:
def get_chase_addendum (glob_list_of_cc_addenda):
    
    chase_file = [z for z in glob_list_of_cc_addenda if 'chase' in z][0]
    
    chase = pd.read_csv(chase_file)
    
    chase_clean = (chase.drop(['Type', 'Post Date'], axis=1)
                   #updated "Trans Date" to "Transaction Date" on 2019-03-05
               .rename(columns = {'Transaction Date' : 'date', 'Description' : 'desc', 'Amount' : 'price'})
               .assign(card = 'chase -8723')
              )
    
    chase_clean['price'] = chase_clean['price'].apply(np.negative)
    chase_clean['date'] = chase_clean['date'].apply(get_dtime)
    
    ii = chase_clean['desc'].str.contains('AUTOMATIC PAYM')
    chase_clean.loc[ii, 'desc'] = 'AUTOMATIC PAYMENT - THANK YOU'
    
#     min_max_dates = [min(chase_clean['date']), max(chase_clean['date'])]
    
    
    return chase_clean, chase_file#, min_max_dates

## Citi

In [90]:
def strip_comma (entry):
    #if the entry is NOT a null (nan)
    if not pd.isnull(entry):

        if ',' in entry:
            
            entry = entry.replace(',', '')

    return entry

In [91]:
def make_price (df):
     
    #work with the credit info
    cre = df['Credit']
    
    #where to flip credit to negative debit
    i = cre.dropna().index
    
        #removed the addition of '-' to the Credits because the statements actually add the negative for me already
        #as of 2019-03-05
    df.loc[i, 'Debit'] = df.loc[i, 'Credit'].astype(str).apply(strip_comma)
    
    #rename for consistent column names
    df = df.rename(columns = {'Debit' : 'price'})
    
    #get rid of commas
    df['price'] = df['price'].astype(str).apply(strip_comma).astype(float)

    df = df.drop('Credit', axis='columns')
    
    
    return df

In [92]:
def fix_date_desc (df):
    
    #using get_dtime from chase munge
    df['date'] = df['date'].apply(get_dtime)
    
    df['desc'] = df['desc'].str.split('\n', expand=True)[0]
    
    df.loc[df['desc'].str.contains('AUTOPAY'), 'desc'] = 'AUTOMATIC PAYMENT - THANK YOU'
    
    return df

In [93]:
def get_citi_addendum (hist_files):
    
    file = [z for z in hist_files if 'citi' in z][0]
    
    df = pd.read_csv(file)
    
    df = make_price(df)
    
    df = df.rename(columns = {'Description' : 'desc', 'Date' : 'date'}).drop('Status', axis = 'columns')
    
    df = fix_date_desc(df)
    
    df['card'] = 'citi -6845'
    
    return df, file

## Discover

In [94]:
def standard_cols (df):
    
    return (df.rename(columns = {'Trans. Date' : 'date', 'Description' : 'desc', 'Amount' : 'price', 'Category' : 'cat'})
            .drop('Post Date', axis='columns')
           )

In [95]:
def replace_autopay (df):
    
    i = df['desc'].str.contains('DIRECTPAY')
    
    df.loc[i, 'desc'] = 'AUTOMATIC PAYMENT - THANK YOU'
    
    return df

In [96]:
def get_disc_addendum (hist_files):
    
    file = [z for z in hist_files if 'discover' in z][0]
    
    df = pd.read_csv(file)
    
    df = standard_cols(df)
    
    df = replace_autopay(df)
    
    df['date'] = df['date'].apply(get_dtime)
    
    df['card'] = 'discover -1362'
    
    return df, file

# The work

In [97]:
def find_new_entries (full_cc_hist, clean_new_entries, card_name):
    """
    Takes a properly column titled and formatted df of possible new entries
    and takes all new entries after the last recorded transaction in the history,
    returning these as a df
    """
    
    #get this card's transactions
    card_idx = full_cc_hist['card'] == card_name

    #get the date of the last recorded transaction on this card in the history
    last_recorded_trans_date = max(full_cc_hist.loc[card_idx, 'date'])
    

    #get all downloaded transactions that happened AFTER the last recorded transaction date
    #this assumed no retroactively applied transactions
    eligible_new_trans = clean_new_entries.loc[clean_new_entries['date'] >= last_recorded_trans_date]
    

    #get the transactions from the full hist that occured on the last recorded date
    #some of these may be repeated in the new entries, but some new entries may be new from that date
    last_recorded_trans = full_cc_hist.loc[(full_cc_hist['date'] == last_recorded_trans_date) & card_idx]

    #only possible overlaps here are ON the latest recorded transaction day, so put
    #the new, and existing transactions from that day, together and remove duplicates
    possible_overlap = pd.concat([eligible_new_trans, last_recorded_trans], sort=False)
    

    new_entries_idx = ~possible_overlap.duplicated(['date', 'price', 'card'], keep=False)
    
    #adding this block because a unique (not duplicated) last_recorded_trans will show up as a new transaction
    #thanks to the concat step above followed by NOT dropping it again with the indexing below
    #if it is not duplicated in the new entries, it is just ignored in the if part of this if/else
    if all(new_entries_idx): #this means NONE of the eligible new transactions are duplicates of something in the last recorded transactions
        new_entries = eligible_new_trans
    else: #this means there were duplicates, both/all of which will be dropped
        new_entries = possible_overlap.loc[new_entries_idx]
    
    return new_entries

In [98]:
def all_things_to_add (hist_files, full_cc_hist):
    
    #get the properly formatted chase transactions to be added and the date range they span
    chase_clean, chase_file = get_chase_addendum(hist_files)
    new_chase = find_new_entries (full_cc_hist, chase_clean, 'chase -8723')
#     print('CHASE', new_chase)
    
    citi_clean, citi_file = get_citi_addendum(hist_files)
    new_citi = find_new_entries (full_cc_hist, citi_clean, 'citi -6845')
#     print('CITI', new_citi)
    
    disc_clean, disc_file = get_disc_addendum(hist_files)
    new_disc = find_new_entries (full_cc_hist, disc_clean, 'discover -1362')
#     print('DISC', new_disc)
    
    return pd.concat([new_chase, new_citi, new_disc], sort=False), [chase_file, citi_file, disc_file], [chase_clean, citi_clean, disc_clean]

In [99]:
def save_new_cc_hist (full_cc_hist, all_new_entries, file_dir, files_processed):
    
    new = (pd.concat([full_cc_hist, all_new_entries], sort=False)
           .sort_values(by='date')
           .reset_index(drop=True)
          )
    
    #this requires that the cc history is in the same place as the files with new entries and has the name
    # 'cc_hist_tidy'
    new.to_csv(file_dir + '/cc_hist_tidy' + '.csv', index=False)
    
    print("The updated history of cc transactions has been saved to file 'cc_hist_tidy.csv'. You're all done!")
    print("You may now delete files {}".format(files_processed))
    print("they have been processed and added to the cc hist")
    
    return new

# Do it

In [100]:
filepath = 'C:/Users/geeze/Documents/finances/cc'

In [101]:
hist_files = glob.glob(filepath + '/*.csv')

In [102]:
#full cc hist to update
full_cc_hist = open_full_hist([z for z in hist_files if 'tidy' in z][0])

In [103]:
new_stuff, files_processed, cleaned_new_cc_info = all_things_to_add(hist_files, full_cc_hist)

CHASE         date                           desc           Category   price  \
0 2019-05-05  AUTOMATIC PAYMENT - THANK YOU                NaN  -54.12
1 2019-05-03       SEGERSTROM CTR FOR THE A  Gifts & Donations  130.98
2 2019-04-15                    RALPHS 0021          Groceries    1.03
3 2019-04-05  AUTOMATIC PAYMENT - THANK YOU                NaN -439.61
4 2019-03-16                CHEVRON 0094660                Gas   26.07
5 2019-03-09                CHEVRON 0091191                Gas   28.05
6 2019-03-05  AUTOMATIC PAYMENT - THANK YOU                NaN  -49.75

          card
0  chase -8723
1  chase -8723
2  chase -8723
3  chase -8723
4  chase -8723
5  chase -8723
6  chase -8723
CITI          date                                     desc   price        card  \
0  2019-04-30               GROUPON INC GROUPON.COM IL   91.15  citi -6845
1  2019-04-29       582 GREAT CLIPS AT COS ALHAMBRA CA   18.00  citi -6845
2  2019-04-28          GABYS EXPRESS LC CULVER CITY CA   23.98  citi -6845
3  2019-04-28         GOODWILL STORE #0003 PASADENA CA   18.97  citi -6845
4  2019-04-18            RALPHS #0021 SOUTH PASADEN CA    7.99  citi -6845
5  2019-04-18            RALPHS #0021 SOUTH PASADEN CA    9.34  citi -6845
6  2019-04-17              SALADANG GARDEN PASADENA CA   15.18  citi -6845
7  2019-04-17     CHILDFUND INTERNATIONA 8007766767 VA   20.00  citi -6845
8  2019-04-17                  FOREIGN TRANSACTION FEE    0.16  citi -6845
9  2019-04-15            RALPHS #0021 SOUTH PASADEN CA   23.31  citi -6845
10 2019-04-14        AUTOBAHN FUELS INC LOS ANGELES CA   32.21  citi -6845
11 2019-04-13               MAX CITY BBQ EAGLE ROCK CA   46.33  citi -6845
12 2019-04-12            AUTOMATIC PAYMENT - THANK YOU -556.15  citi -6845
13 2019-04-11             U-HAUL OF VENTURA VENTURA CA  163.78  citi -6845
14 2019-04-09              ROSS STORE #366 PASADENA CA   14.32  citi -6845
15 2019-04-08    LA METRO UNION STATQPS LOS ANGELES CA    1.75  citi -6845
16 2019-04-08      UBER TECHNOLOGIES INC 8005928996 CA    3.57  citi -6845
17 2019-04-08             LAXSHUTTLETIX.COM ANAHEIM CA    9.75  citi -6845
18 2019-04-05        LAXSHUTTLETIX.COM 714-507-1181 CA    9.75  citi -6845
19 2019-04-05  HAWAII VOLCANOES-KILAU HAWAII NATION HI   25.00  citi -6845
20 2019-04-05        SHELL OIL 10010238003 WAIKOLOA HI   25.95  citi -6845
21 2019-04-04  LA METRO MISSION STQPS SOUTH PASADEN CA    1.75  citi -6845
22 2019-04-04      UBER TECHNOLOGIES INC 8005928996 CA    6.91  citi -6845
23 2019-04-04         GOODWILL STORE #0003 PASADENA CA   12.00  citi -6845
24 2019-04-04        FOODLAND FARMS MAUNA L KAMUELA HI   65.59  citi -6845
25 2019-03-31                UBER BV HELP.UBER.COM NLD    0.52  citi -6845
26 2019-03-31                UBER BV HELP.UBER.COM NLD    5.21  citi -6845
27 2019-03-24        LAXSHUTTLETIX.COM 714-507-1181 CA    9.75  citi -6845
28 2019-03-23      UBER TECHNOLOGIES INC 8005928996 CA   13.42  citi -6845
29 2019-03-22                 ORGCONMAR INC ARCADIA CA   13.03  citi -6845
30 2019-03-16          AMC BURBANK 16 #0218 BURBANK CA   44.98  citi -6845
31 2019-03-16             SHIN SEN GUMI LOS ANGELES CA   59.49  citi -6845
32 2019-03-15      ABM FIG AND 7TH 3888 LOS ANGELES CA    4.00  citi -6845
33 2019-03-12            AUTOMATIC PAYMENT - THANK YOU -147.36  citi -6845
34 2019-03-11    Amazon.com*MW23W5OW0 Amzn.com/bill WA   20.02  citi -6845
35 2019-03-11         THE HOME DEPOT #6610 ALHAMBRA CA    9.82  citi -6845
36 2019-03-09       CALIENTE MEXICAN FOOD SAN DIEGO CA    6.99  citi -6845
37 2019-03-05               EYEBUYDIRECT INC AUSTIN TX  132.16  citi -6845
38 2019-03-04        UNCLE JIMS WORM FAR 8003730555 PA   35.45  citi -6845
39 2019-03-04           FREETAXUSA.COM 801-812-1040 UT   12.95  citi -6845
40 2019-03-03        MMSA RENTAL SHOP MAMMOTH LAKES CA   54.81  citi -6845
41 2019-03-03        MAMMOTH MTN SVCS MAMMOTH LAKES CA   75.48  citi -6845

    cat st close st open Category
0   NaN      NaN     NaN      NaN
1   NaN      NaN     NaN      NaN
2   NaN      NaN     NaN      NaN
3   NaN      NaN     NaN      NaN
4   NaN      NaN     NaN      NaN
5   NaN      NaN     NaN      NaN
6   NaN      NaN     NaN      NaN
7   NaN      NaN     NaN      NaN
8   NaN      NaN     NaN      NaN
9   NaN      NaN     NaN      NaN
10  NaN      NaN     NaN      NaN
11  NaN      NaN     NaN      NaN
12  NaN      NaN     NaN      NaN
13  NaN      NaN     NaN      NaN
14  NaN      NaN     NaN      NaN
15  NaN      NaN     NaN      NaN
16  NaN      NaN     NaN      NaN
17  NaN      NaN     NaN      NaN
18  NaN      NaN     NaN      NaN
19  NaN      NaN     NaN      NaN
20  NaN      NaN     NaN      NaN
21  NaN      NaN     NaN      NaN
22  NaN      NaN     NaN      NaN
23  NaN      NaN     NaN      NaN
24  NaN      NaN     NaN      NaN
25  NaN      NaN     NaN      NaN
26  NaN      NaN     NaN      NaN
27  NaN      NaN     NaN      NaN
28  NaN      NaN     NaN      NaN
29  NaN      NaN     NaN      NaN
30  NaN      NaN     NaN      NaN
31  NaN      NaN     NaN      NaN
32  NaN      NaN     NaN      NaN
33  NaN      NaN     NaN      NaN
34  NaN      NaN     NaN      NaN
35  NaN      NaN     NaN      NaN
36  NaN      NaN     NaN      NaN
37  NaN      NaN     NaN      NaN
38  NaN      NaN     NaN      NaN
39  NaN      NaN     NaN      NaN
40  NaN      NaN     NaN      NaN
41  NaN      NaN     NaN      NaN
DISC          date                           desc   price                   cat  \
9  2019-02-27   RALPHS #0021 SOUTH PASADENCA   28.24          Supermarkets
10 2019-02-28   RALPHS #0021 SOUTH PASADENCA    4.49          Supermarkets
11 2019-03-01      VONS STORE 1753 BISHOP CA   26.13          Supermarkets
12 2019-03-05   RALPHS #0021 SOUTH PASADENCA    1.79          Supermarkets
13 2019-03-05   RALPHS #0021 SOUTH PASADENCA   10.19          Supermarkets
14 2019-03-11   RALPHS #0021 SOUTH PASADENCA   15.27          Supermarkets
15 2019-03-17  AUTOMATIC PAYMENT - THANK YOU  -74.24  Payments and Credits
16 2019-03-20   RALPHS #0021 SOUTH PASADENCA   17.95          Supermarkets
17 2019-03-23   RALPHS #0021 SOUTH PASADENCA   31.70          Supermarkets
18 2019-03-31   RALPHS #0021 SOUTH PASADENCA   33.57          Supermarkets
19 2019-04-08   RALPHS #0021 SOUTH PASADENCA    9.35          Supermarkets
20 2019-04-17  AUTOMATIC PAYMENT - THANK YOU -135.76  Payments and Credits

              card st close st open Category
9   discover -1362      NaN     NaN      NaN
10  discover -1362      NaN     NaN      NaN
11  discover -1362      NaN     NaN      NaN
12  discover -1362      NaN     NaN      NaN
13  discover -1362      NaN     NaN      NaN
14  discover -1362      NaN     NaN      NaN
15  discover -1362      NaN     NaN      NaN
16  discover -1362      NaN     NaN      NaN
17  discover -1362      NaN     NaN      NaN
18  discover -1362      NaN     NaN      NaN
19  discover -1362      NaN     NaN      NaN
20  discover -1362      NaN     NaN      NaN

In [104]:
cleaned_new_cc_info

[        date                           desc           Category   price  \
 0 2019-05-05  AUTOMATIC PAYMENT - THANK YOU                NaN  -54.12
 1 2019-05-03       SEGERSTROM CTR FOR THE A  Gifts & Donations  130.98
 2 2019-04-15                    RALPHS 0021          Groceries    1.03
 3 2019-04-05  AUTOMATIC PAYMENT - THANK YOU                NaN -439.61
 4 2019-03-16                CHEVRON 0094660                Gas   26.07
 5 2019-03-09                CHEVRON 0091191                Gas   28.05
 6 2019-03-05  AUTOMATIC PAYMENT - THANK YOU                NaN  -49.75

           card
 0  chase -8723
 1  chase -8723
 2  chase -8723
 3  chase -8723
 4  chase -8723
 5  chase -8723
 6  chase -8723  ,
          date                                     desc   price        card
 0  2019-04-30               GROUPON INC GROUPON.COM IL   91.15  citi -6845
 1  2019-04-29       582 GREAT CLIPS AT COS ALHAMBRA CA   18.00  citi -6845
 2  2019-04-28          GABYS EXPRESS LC CULVER CITY CA   23.98  citi -6845
 3  2019-04-28         GOODWILL STORE #0003 PASADENA CA   18.97  citi -6845
 4  2019-04-18            RALPHS #0021 SOUTH PASADEN CA    7.99  citi -6845
 5  2019-04-18            RALPHS #0021 SOUTH PASADEN CA    9.34  citi -6845
 6  2019-04-17              SALADANG GARDEN PASADENA CA   15.18  citi -6845
 7  2019-04-17     CHILDFUND INTERNATIONA 8007766767 VA   20.00  citi -6845
 8  2019-04-17                  FOREIGN TRANSACTION FEE    0.16  citi -6845
 9  2019-04-15            RALPHS #0021 SOUTH PASADEN CA   23.31  citi -6845
 10 2019-04-14        AUTOBAHN FUELS INC LOS ANGELES CA   32.21  citi -6845
 11 2019-04-13               MAX CITY BBQ EAGLE ROCK CA   46.33  citi -6845
 12 2019-04-12            AUTOMATIC PAYMENT - THANK YOU -556.15  citi -6845
 13 2019-04-11             U-HAUL OF VENTURA VENTURA CA  163.78  citi -6845
 14 2019-04-09              ROSS STORE #366 PASADENA CA   14.32  citi -6845
 15 2019-04-08    LA METRO UNION STATQPS LOS ANGELES CA    1.75  citi -6845
 16 2019-04-08      UBER TECHNOLOGIES INC 8005928996 CA    3.57  citi -6845
 17 2019-04-08             LAXSHUTTLETIX.COM ANAHEIM CA    9.75  citi -6845
 18 2019-04-05        LAXSHUTTLETIX.COM 714-507-1181 CA    9.75  citi -6845
 19 2019-04-05  HAWAII VOLCANOES-KILAU HAWAII NATION HI   25.00  citi -6845
 20 2019-04-05        SHELL OIL 10010238003 WAIKOLOA HI   25.95  citi -6845
 21 2019-04-04  LA METRO MISSION STQPS SOUTH PASADEN CA    1.75  citi -6845
 22 2019-04-04      UBER TECHNOLOGIES INC 8005928996 CA    6.91  citi -6845
 23 2019-04-04         GOODWILL STORE #0003 PASADENA CA   12.00  citi -6845
 24 2019-04-04        FOODLAND FARMS MAUNA L KAMUELA HI   65.59  citi -6845
 25 2019-03-31                UBER BV HELP.UBER.COM NLD    0.52  citi -6845
 26 2019-03-31                UBER BV HELP.UBER.COM NLD    5.21  citi -6845
 27 2019-03-24        LAXSHUTTLETIX.COM 714-507-1181 CA    9.75  citi -6845
 28 2019-03-23      UBER TECHNOLOGIES INC 8005928996 CA   13.42  citi -6845
 29 2019-03-22                 ORGCONMAR INC ARCADIA CA   13.03  citi -6845
 30 2019-03-16          AMC BURBANK 16 #0218 BURBANK CA   44.98  citi -6845
 31 2019-03-16             SHIN SEN GUMI LOS ANGELES CA   59.49  citi -6845
 32 2019-03-15      ABM FIG AND 7TH 3888 LOS ANGELES CA    4.00  citi -6845
 33 2019-03-12            AUTOMATIC PAYMENT - THANK YOU -147.36  citi -6845
 34 2019-03-11    Amazon.com*MW23W5OW0 Amzn.com/bill WA   20.02  citi -6845
 35 2019-03-11         THE HOME DEPOT #6610 ALHAMBRA CA    9.82  citi -6845
 36 2019-03-09       CALIENTE MEXICAN FOOD SAN DIEGO CA    6.99  citi -6845
 37 2019-03-05               EYEBUYDIRECT INC AUSTIN TX  132.16  citi -6845
 38 2019-03-04        UNCLE JIMS WORM FAR 8003730555 PA   35.45  citi -6845
 39 2019-03-04           FREETAXUSA.COM 801-812-1040 UT   12.95  citi -6845
 40 2019-03-03        MMSA RENTAL SHOP MAMMOTH LAKES CA   54.81  citi -6845
 41 2019-03-03        MAMMOTH MTN SVCS MAMMOTH LAKES CA   75.48  citi -6845
 42 2019-02-21          SP * VULF RECORDS 2167024444 OH   39.00  citi -6845
 43 2019-02-19             CITY OF ALHAMBRA ALHAMBRA CA   61.00  citi -6845
 44 2019-02-19                  FOREIGN TRANSACTION FEE    0.64  citi -6845
 45 2019-02-12            AUTOMATIC PAYMENT - THANK YOU -888.30  citi -6845
 46 2019-02-03            UBER help.uber.com SYDNEY AUS   10.28  citi -6845
 47 2019-01-25            UBER help.uber.com SYDNEY AUS   11.44  citi -6845
 48 2019-01-19      TORREY HIGHLANDS OPTOM SAN DIEGO CA  125.00  citi -6845
 49 2019-01-13       LA METRO DEL MAR STQPS PASADENA CA    1.75  citi -6845
 50 2019-01-13         THE HOME DEPOT #6610 ALHAMBRA CA   59.89  citi -6845
 51 2019-01-12            AUTOMATIC PAYMENT - THANK YOU -577.23  citi -6845
 52 2019-01-12        PASEO PARKING GARAGES PASADENA CA    2.00  citi -6845
 53 2019-01-12       STONE BREWING - PASADE PASADENA CA    8.00  citi -6845
 54 2019-01-12     IMPERIAL WESTERN BEER LOS ANGELES CA    8.33  citi -6845
 55 2019-01-11            Randy Wolff DDS 8582731133 CA   17.20  citi -6845
 56 2019-01-09             CITY OF ALHAMBRA ALHAMBRA CA   61.00  citi -6845
 57 2019-01-04           SQ *SQ *DING KING Encinitas CA  100.00  citi -6845
 58 2019-01-02                CHEVRON 0306871 MOJAVE CA   26.91  citi -6845,
          date                           desc   price                   cat  \
 0  2019-01-13   RALPHS #0021 SOUTH PASADENCA   25.73          Supermarkets
 1  2019-01-17  AUTOMATIC PAYMENT - THANK YOU -309.79  Payments and Credits
 2  2019-01-20    RALPHS #0291 LOS ANGELES CA   29.43          Supermarkets
 3  2019-01-22   RALPHS #0021 SOUTH PASADENCA   14.01          Supermarkets
 4  2019-02-05   RALPHS #0021 SOUTH PASADENCA   22.37          Supermarkets
 5  2019-02-10   RALPHS #0021 SOUTH PASADENCA   23.01          Supermarkets
 6  2019-02-11   RALPHS #0021 SOUTH PASADENCA   19.91          Supermarkets
 7  2019-02-13   RALPHS #0021 SOUTH PASADENCA    8.95          Supermarkets
 8  2019-02-17  AUTOMATIC PAYMENT - THANK YOU  -69.17  Payments and Credits
 9  2019-02-27   RALPHS #0021 SOUTH PASADENCA   28.24          Supermarkets
 10 2019-02-28   RALPHS #0021 SOUTH PASADENCA    4.49          Supermarkets
 11 2019-03-01      VONS STORE 1753 BISHOP CA   26.13          Supermarkets
 12 2019-03-05   RALPHS #0021 SOUTH PASADENCA    1.79          Supermarkets
 13 2019-03-05   RALPHS #0021 SOUTH PASADENCA   10.19          Supermarkets
 14 2019-03-11   RALPHS #0021 SOUTH PASADENCA   15.27          Supermarkets
 15 2019-03-17  AUTOMATIC PAYMENT - THANK YOU  -74.24  Payments and Credits
 16 2019-03-20   RALPHS #0021 SOUTH PASADENCA   17.95          Supermarkets
 17 2019-03-23   RALPHS #0021 SOUTH PASADENCA   31.70          Supermarkets
 18 2019-03-31   RALPHS #0021 SOUTH PASADENCA   33.57          Supermarkets
 19 2019-04-08   RALPHS #0021 SOUTH PASADENCA    9.35          Supermarkets
 20 2019-04-17  AUTOMATIC PAYMENT - THANK YOU -135.76  Payments and Credits

               card
 0   discover -1362
 1   discover -1362
 2   discover -1362
 3   discover -1362
 4   discover -1362
 5   discover -1362
 6   discover -1362
 7   discover -1362
 8   discover -1362
 9   discover -1362
 10  discover -1362
 11  discover -1362
 12  discover -1362
 13  discover -1362
 14  discover -1362
 15  discover -1362
 16  discover -1362
 17  discover -1362
 18  discover -1362
 19  discover -1362
 20  discover -1362  ]

In [105]:
full_cc_hist

,date,price,desc,card,cat,st close,st open,Category
0,2013-12-01,4.79,"//USC Income (2,000/mo). Open date unknown",amex -2002,NaN,12/27/2013,12/1/2013,NaN
1,2014-01-01,259.39,NaN,amex -2002,NaN,1/27/2014,12/28/2013,NaN
2,2014-02-01,343.67,NaN,amex -2002,NaN,2/24/2014,1/28/2014,NaN
3,2014-03-01,237.71,NaN,amex -2002,NaN,3/27/2014,2/25/2014,NaN
4,2014-04-01,288.67,NaN,amex -2002,NaN,4/25/2014,3/28/2014,NaN
5,2014-05-01,182.03,NaN,amex -2002,NaN,5/27/2014,4/26/2014,NaN
6,2014-06-01,475.33,NaN,amex -2002,NaN,6/26/2014,5/28/2014,NaN
7,2014-07-01,326.33,NaN,amex -2002,NaN,7/27/2014,6/27/2014,NaN
8,2014-08-01,346.95,NaN,amex -2002,NaN,8/27/2014,7/28/2014,NaN
9,2014-09-01,164.56,NaN,amex -2002,NaN,9/26/2014,8/28/2014,NaN
10,2014-10-01,307.70,NaN,amex -2002,NaN,10/27/2014,9/27/2014,NaN
11,2014-11-01,265.87,NaN,amex -2002,NaN,11/26/2014,10/28/2014,NaN
12,2014-12-01,424.86,NaN,amex -2002,NaN,12/26/2014,11/27/2014,NaN
13,2015-01-01,492.27,(bought LIB),amex -2002,NaN,1/27/2015,12/27/2014,NaN
14,2015-02-01,205.33,NaN,amex -2002,NaN,2/24/2015,1/28/2015,NaN
15,2015-03-01,310.22,NaN,amex -2002,NaN,3/27/2015,2/25/2015,NaN
16,2015-04-01,584.24,(bought kaplan),amex -2002,NaN,4/27/2015,3/27/2015,NaN
17,2015-05-01,521.30,(bought Uworld),amex -2002,NaN,5/27/2015,4/27/2015,NaN
18,2015-06-01,184.77,NaN,amex -2002,NaN,6/27/2015,5/27/2015,NaN
19,2015-07-01,324.40,NaN,amex -2002,NaN,7/27/2015,6/27/2015,NaN
20,2015-08-01,494.87,"(bought maggy maid, was paid back by roomates)",amex -2002,NaN,8/27/2015,7/27/2015,NaN
21,2015-09-01,224.18,NaN,amex -2002,NaN,9/27/2015,8/27/2015,NaN
22,2015-10-01,428.84,"//Begin Caltech Income (2,666.67/mo)",amex -2002,NaN,10/27/2015,9/27/2015,NaN
23,2015-11-01,363.99,NaN,amex -2002,NaN,11/27/2015,10/27/2015,NaN
24,2015-12-01,345.70,NaN,amex -2002,NaN,12/27/2015,11/27/2015,NaN
25,2016-01-01,573.70,"(also bought computer, but reimbursed 894.94)",amex -2002,NaN,1/27/2016,12/27/2015,NaN
26,2016-02-01,407.37,NaN,amex -2002,NaN,2/27/2016,1/27/2016,NaN
27,2016-03-01,611.88,(bought LIB tix),amex -2002,NaN,3/27/2016,2/27/2016,NaN
28,2016-04-01,864.00,(bought airline tix to PA and SEA),amex -2002,NaN,4/27/2016,3/27/2016,NaN
29,2016-05-01,413.02,(bought stuff for SEA trip with grace),amex -2002,NaN,5/27/2016,4/27/2016,NaN
...,...,...,...,...,...,...,...,...
771,2019-01-11,26.49,SHELL OIL 12481614001,chase -8723,NaN,NaN,NaN,Gas
772,2019-01-12,-577.23,AUTOMATIC PAYMENT - THANK YOU,citi -6845,NaN,NaN,NaN,NaN
773,2019-01-12,8.33,IMPERIAL WESTERN BEER LOS ANGELES CA,citi -6845,NaN,NaN,NaN,NaN
774,2019-01-12,8.00,STONE BREWING - PASADE PASADENA CA,citi -6845,NaN,NaN,NaN,NaN
775,2019-01-12,2.00,PASEO PARKING GARAGES PASADENA CA,citi -6845,NaN,NaN,NaN,NaN
776,2019-01-13,59.89,THE HOME DEPOT #6610 ALHAMBRA CA,citi -6845,NaN,NaN,NaN,NaN
777,2019-01-13,1.75,LA METRO DEL MAR STQPS PASADENA CA,citi -6845,NaN,NaN,NaN,NaN
778,2019-01-13,25.73,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN,NaN
779,2019-01-17,-309.79,AUTOMATIC PAYMENT - THANK YOU,discover -1362,Payments and Credits,NaN,NaN,NaN
780,2019-01-19,125.00,TORREY HIGHLANDS OPTOM SAN DIEGO CA,citi -6845,NaN,NaN,NaN,NaN
781,2019-01-20,29.43,RALPHS #0291 LOS ANGELES CA,discover -1362,Supermarkets,NaN,NaN,NaN
782,2019-01-21,28.26,SHELL OIL 57443077003,chase -8723,NaN,NaN,NaN,Gas
783,2019-01-22,14.01,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN,NaN
784,2019-01-25,11.44,UBER help.uber.com SYDNEY AUS,citi -6845,NaN,NaN,NaN,NaN
785,2019-02-03,10.28,UBER help.uber.com SYDNEY AUS,citi -6845,NaN,NaN,NaN,NaN
786,2019-02-05,22.37,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN,NaN
787,2019-02-05,-19.46,AUTOMATIC PAYMENT - THANK YOU,chase -8723,NaN,NaN,NaN,NaN
788,2019-02-10,23.01,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN,NaN
789,2019-02-11,19.91,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN,NaN
790,2019-02-12,-888.30,AUTOMATIC PAYMENT - THANK YOU,citi -6845,NaN,NaN,NaN,NaN
791,2019-02-13,8.95,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN,NaN
792,2019-02-15,-5.00,STMT CREDIT FOR PAPERLESS,chase -8723,NaN,NaN,NaN,NaN
793,2019-02-17,-69.17,AUTOMATIC PAYMENT - THANK YOU,discover -1362,Payments and Credits,NaN,NaN,NaN
794,2019-02-19,0.64,FOREIGN TRANSACTION FEE,citi -6845,NaN,NaN,NaN,NaN
795,2019-02-19,61.00,CITY OF ALHAMBRA ALHAMBRA CA,citi -6845,NaN,NaN,NaN,NaN
796,2019-02-20,359.88,ADOBE *CREATIVE CLOUD,chase -8723,NaN,NaN,NaN,Shopping
797,2019-02-21,39.00,SP * VULF RECORDS 2167024444 OH,citi -6845,NaN,NaN,NaN,NaN
798,2019-02-23,26.01,CHEVRON 0090199,chase -8723,NaN,NaN,NaN,Gas
799,2019-03-01,27.15,CHEVRON 0205672,chase -8723,NaN,NaN,NaN,Gas
800,2019-03-03,26.57,CHEVRON 0379898,chase -8723,NaN,NaN,NaN,Gas

In [108]:
save_new_cc_hist (full_cc_hist, new_stuff, filepath, files_processed)

The updated history of cc transactions has been saved to file 'cc_hist_tidy.csv'. You're all done!
You may now delete files ['C:/Users/geeze/Documents/finances/cc\\new chase.CSV', 'C:/Users/geeze/Documents/finances/cc\\citi_year to date.CSV', 'C:/Users/geeze/Documents/finances/cc\\discover-2019-YearToDateSummary.csv']
they have been processed and added to the cc hist

,date,price,desc,card,cat,st close,st open,Category
0,2013-12-01,4.79,"//USC Income (2,000/mo). Open date unknown",amex -2002,NaN,12/27/2013,12/1/2013,NaN
1,2014-01-01,259.39,NaN,amex -2002,NaN,1/27/2014,12/28/2013,NaN
2,2014-02-01,343.67,NaN,amex -2002,NaN,2/24/2014,1/28/2014,NaN
3,2014-03-01,237.71,NaN,amex -2002,NaN,3/27/2014,2/25/2014,NaN
4,2014-04-01,288.67,NaN,amex -2002,NaN,4/25/2014,3/28/2014,NaN
5,2014-05-01,182.03,NaN,amex -2002,NaN,5/27/2014,4/26/2014,NaN
6,2014-06-01,475.33,NaN,amex -2002,NaN,6/26/2014,5/28/2014,NaN
7,2014-07-01,326.33,NaN,amex -2002,NaN,7/27/2014,6/27/2014,NaN
8,2014-08-01,346.95,NaN,amex -2002,NaN,8/27/2014,7/28/2014,NaN
9,2014-09-01,164.56,NaN,amex -2002,NaN,9/26/2014,8/28/2014,NaN
10,2014-10-01,307.70,NaN,amex -2002,NaN,10/27/2014,9/27/2014,NaN
11,2014-11-01,265.87,NaN,amex -2002,NaN,11/26/2014,10/28/2014,NaN
12,2014-12-01,424.86,NaN,amex -2002,NaN,12/26/2014,11/27/2014,NaN
13,2015-01-01,492.27,(bought LIB),amex -2002,NaN,1/27/2015,12/27/2014,NaN
14,2015-02-01,205.33,NaN,amex -2002,NaN,2/24/2015,1/28/2015,NaN
15,2015-03-01,310.22,NaN,amex -2002,NaN,3/27/2015,2/25/2015,NaN
16,2015-04-01,584.24,(bought kaplan),amex -2002,NaN,4/27/2015,3/27/2015,NaN
17,2015-05-01,521.30,(bought Uworld),amex -2002,NaN,5/27/2015,4/27/2015,NaN
18,2015-06-01,184.77,NaN,amex -2002,NaN,6/27/2015,5/27/2015,NaN
19,2015-07-01,324.40,NaN,amex -2002,NaN,7/27/2015,6/27/2015,NaN
20,2015-08-01,494.87,"(bought maggy maid, was paid back by roomates)",amex -2002,NaN,8/27/2015,7/27/2015,NaN
21,2015-09-01,224.18,NaN,amex -2002,NaN,9/27/2015,8/27/2015,NaN
22,2015-10-01,428.84,"//Begin Caltech Income (2,666.67/mo)",amex -2002,NaN,10/27/2015,9/27/2015,NaN
23,2015-11-01,363.99,NaN,amex -2002,NaN,11/27/2015,10/27/2015,NaN
24,2015-12-01,345.70,NaN,amex -2002,NaN,12/27/2015,11/27/2015,NaN
25,2016-01-01,573.70,"(also bought computer, but reimbursed 894.94)",amex -2002,NaN,1/27/2016,12/27/2015,NaN
26,2016-02-01,407.37,NaN,amex -2002,NaN,2/27/2016,1/27/2016,NaN
27,2016-03-01,611.88,(bought LIB tix),amex -2002,NaN,3/27/2016,2/27/2016,NaN
28,2016-04-01,864.00,(bought airline tix to PA and SEA),amex -2002,NaN,4/27/2016,3/27/2016,NaN
29,2016-05-01,413.02,(bought stuff for SEA trip with grace),amex -2002,NaN,5/27/2016,4/27/2016,NaN
...,...,...,...,...,...,...,...,...
832,2019-04-04,12.00,GOODWILL STORE #0003 PASADENA CA,citi -6845,NaN,NaN,NaN,NaN
833,2019-04-04,65.59,FOODLAND FARMS MAUNA L KAMUELA HI,citi -6845,NaN,NaN,NaN,NaN
834,2019-04-04,1.75,LA METRO MISSION STQPS SOUTH PASADEN CA,citi -6845,NaN,NaN,NaN,NaN
835,2019-04-05,25.00,HAWAII VOLCANOES-KILAU HAWAII NATION HI,citi -6845,NaN,NaN,NaN,NaN
836,2019-04-05,25.95,SHELL OIL 10010238003 WAIKOLOA HI,citi -6845,NaN,NaN,NaN,NaN
837,2019-04-05,-439.61,AUTOMATIC PAYMENT - THANK YOU,chase -8723,NaN,NaN,NaN,NaN
838,2019-04-05,9.75,LAXSHUTTLETIX.COM 714-507-1181 CA,citi -6845,NaN,NaN,NaN,NaN
839,2019-04-08,9.35,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN,NaN
840,2019-04-08,3.57,UBER TECHNOLOGIES INC 8005928996 CA,citi -6845,NaN,NaN,NaN,NaN
841,2019-04-08,1.75,LA METRO UNION STATQPS LOS ANGELES CA,citi -6845,NaN,NaN,NaN,NaN
842,2019-04-08,9.75,LAXSHUTTLETIX.COM ANAHEIM CA,citi -6845,NaN,NaN,NaN,NaN
843,2019-04-09,14.32,ROSS STORE #366 PASADENA CA,citi -6845,NaN,NaN,NaN,NaN
844,2019-04-11,163.78,U-HAUL OF VENTURA VENTURA CA,citi -6845,NaN,NaN,NaN,NaN
845,2019-04-12,-556.15,AUTOMATIC PAYMENT - THANK YOU,citi -6845,NaN,NaN,NaN,NaN
846,2019-04-13,46.33,MAX CITY BBQ EAGLE ROCK CA,citi -6845,NaN,NaN,NaN,NaN
847,2019-04-14,32.21,AUTOBAHN FUELS INC LOS ANGELES CA,citi -6845,NaN,NaN,NaN,NaN
848,2019-04-15,23.31,RALPHS #0021 SOUTH PASADEN CA,citi -6845,NaN,NaN,NaN,NaN
849,2019-04-15,1.03,RALPHS 0021,chase -8723,NaN,NaN,NaN,Groceries
850,2019-04-17,15.18,SALADANG GARDEN PASADENA CA,citi -6845,NaN,NaN,NaN,NaN
851,2019-04-17,0.16,FOREIGN TRANSACTION FEE,citi -6845,NaN,NaN,NaN,NaN
852,2019-04-17,20.00,CHILDFUND INTERNATIONA 8007766767 VA,citi -6845,NaN,NaN,NaN,NaN
853,2019-04-17,-135.76,AUTOMATIC PAYMENT - THANK YOU,discover -1362,Payments and Credits,NaN,NaN,NaN
854,2019-04-18,9.34,RALPHS #0021 SOUTH PASADEN CA,citi -6845,NaN,NaN,NaN,NaN
855,2019-04-18,7.99,RALPHS #0021 SOUTH PASADEN CA,citi -6845,NaN,NaN,NaN,NaN
856,2019-04-28,18.97,GOODWILL STORE #0003 PASADENA CA,citi -6845,NaN,NaN,NaN,NaN
857,2019-04-28,23.98,GABYS EXPRESS LC CULVER CITY CA,citi -6845,NaN,NaN,NaN,NaN
858,2019-04-29,18.00,582 GREAT CLIPS AT COS ALHAMBRA CA,citi -6845,NaN,NaN,NaN,NaN
859,2019-04-30,91.15,GROUPON INC GROUPON.COM IL,citi -6845,NaN,NaN,NaN,NaN
860,2019-05-03,130.98,SEGERSTROM CTR FOR THE A,chase -8723,NaN,NaN,NaN,Gifts & Donations
861,2019-05-05,-54.12,AUTOMATIC PAYMENT - THANK YOU,chase -8723,NaN,NaN,NaN,NaN