In [103]:
"""
This is the function you'll use to add an arbitrary cc table to your running cc history
"""

"\nThis is the function you'll use to add an arbitrary cc table to your running cc history\n"

In [104]:
import pandas as pd
import numpy as np

from openpyxl import load_workbook

import datetime

import glob

## general i/o

In [105]:
def get_dtime (string):
    """
    converts strings to datetime objects using datetime.strptime mostly just wrote this so I could .apply() it in pandas
    method chains
    
    takes (string) which is the full date of format mm/dd/yyyy (can't be 2 digit year)
    """
    return datetime.datetime.strptime(string, '%m/%d/%Y')

In [106]:
def open_full_hist (filepath):
    
    #full cc hist to update
    full_cc_hist = pd.read_csv(filepath)
    full_cc_hist['date'] = full_cc_hist['date'].apply(get_dtime)
    
    return full_cc_hist

## Chase

In [107]:
def get_chase_addendum (glob_list_of_cc_addenda):
    
    chase_file = [z for z in glob_list_of_cc_addenda if 'chase' in z][0]
    
    chase = pd.read_csv(chase_file)
    
    chase_clean = (chase.drop(['Type', 'Post Date'], axis=1)
               .rename(columns = {'Trans Date' : 'date', 'Description' : 'desc', 'Amount' : 'price'})
               .assign(card = 'chase -8723')
              )
    
    chase_clean['price'] = chase_clean['price'].apply(np.negative)
    chase_clean['date'] = chase_clean['date'].apply(get_dtime)
    
    ii = chase_clean['desc'].str.contains('AUTOMATIC PAYM')
    chase_clean.loc[ii, 'desc'] = 'AUTOMATIC PAYMENT - THANK YOU'
    
#     min_max_dates = [min(chase_clean['date']), max(chase_clean['date'])]
    
    
    return chase_clean, chase_file#, min_max_dates

## Citi

In [108]:
def strip_comma (entry):
    #if the entry is NOT a null (nan)
    if not pd.isnull(entry):

        if ',' in entry:
            
            entry = entry.replace(',', '')

    return entry

In [109]:
def make_price (df):
     
    #work with the credit info
    cre = df['Credit']
    
    #where to flip credit to negative debit
    i = cre.dropna().index
    
    df.loc[i, 'Debit'] = '-' + df.loc[i, 'Credit'].apply(strip_comma)
    
    #rename for consistent column names
    df = df.rename(columns = {'Debit' : 'price'})
    
    #get rid of commas
    df['price'] = df['price'].apply(strip_comma).astype(float)

    df = df.drop('Credit', axis='columns')
    
    
    return df

In [110]:
def fix_date_desc (df):
    
    #using get_dtime from chase munge
    df['date'] = df['date'].apply(get_dtime)
    
    df['desc'] = df['desc'].str.split('\n', expand=True)[0]
    
    df.loc[df['desc'].str.contains('AUTOPAY'), 'desc'] = 'AUTOMATIC PAYMENT - THANK YOU'
    
    return df

In [111]:
def get_citi_addendum (hist_files):
    
    file = [z for z in hist_files if 'citi' in z][0]
    
    df = pd.read_csv(file)
    
    df = make_price(df)
    
    df = df.rename(columns = {'Description' : 'desc', 'Date' : 'date'}).drop('Status', axis = 'columns')
    
    df = fix_date_desc(df)
    
    df['card'] = 'citi -6845'
    
    return df, file

## Discover

In [112]:
def standard_cols (df):
    
    return (df.rename(columns = {'Trans. Date' : 'date', 'Description' : 'desc', 'Amount' : 'price', 'Category' : 'cat'})
            .drop('Post Date', axis='columns')
           )

In [113]:
def replace_autopay (df):
    
    i = df['desc'].str.contains('DIRECTPAY')
    
    df.loc[i, 'desc'] = 'AUTOMATIC PAYMENT - THANK YOU'
    
    return df

In [114]:
def get_disc_addendum (hist_files):
    
    file = [z for z in hist_files if 'discover' in z][0]
    
    df = pd.read_csv(file)
    
    df = standard_cols(df)
    
    df = replace_autopay(df)
    
    df['date'] = df['date'].apply(get_dtime)
    
    df['card'] = 'discover -1362'
    
    return df, file

# The work

In [115]:
def find_new_entries (full_cc_hist, clean_new_entries, card_name):
    """
    Takes a properly column titled and formatted df of possible new entries
    and takes all new entries after the last recorded transaction in the history,
    returning these as a df
    """
    
    #get this card's transactions
    card_idx = full_cc_hist['card'] == card_name

    #get the date of the last recorded transaction on this card in the history
    last_recorded_trans_date = max(full_cc_hist.loc[card_idx, 'date'])

    #get all downloaded transactions that happened AFTER the last recorded transaction date
    #this assumed no retroactively applied transactions
    eligible_new_trans = clean_new_entries.loc[clean_new_entries['date'] >= last_recorded_trans_date]

    #get the transactions from the full hist that occured on the last recorded date
    #some of these may be repeated in the new entries, but some new entries may be new from that date
    last_recorded_trans = full_cc_hist.loc[full_cc_hist['date'] == last_recorded_trans_date]

    #only possible overlaps here are ON the latest recorded transaction day, so put
    #the new, and existing transactions from that day, together and remove duplicates
    possible_overlap = pd.concat([eligible_new_trans, last_recorded_trans], sort=False)

    new_entries_idx = ~possible_overlap.duplicated(['date', 'price', 'card'], keep=False)

    new_entries = possible_overlap.loc[new_entries_idx]
    
    return new_entries

In [116]:
def all_things_to_add (hist_files, full_cc_hist):
    
    #get the properly formatted chase transactions to be added and the date range they span
    chase_clean, chase_file = get_chase_addendum(hist_files)
    new_chase = find_new_entries (full_cc_hist, chase_clean, 'chase -8723')
    
    citi_clean, citi_file = get_citi_addendum(hist_files)
    new_citi = find_new_entries (full_cc_hist, citi_clean, 'citi -6845')
    
    disc_clean, disc_file = get_disc_addendum(hist_files)
    new_disc = find_new_entries (full_cc_hist, disc_clean, 'discover -1362')
    
    return pd.concat([new_chase, new_citi, new_disc], sort=False), [chase_file, citi_file, disc_file]

In [117]:
def save_new_cc_hist (full_cc_hist, all_new_entries, file_dir, files_processed):
    
    new = (pd.concat([full_cc_hist, all_new_entries], sort=False)
           .sort_values(by='date')
           .reset_index(drop=True)
          )
    
    #this requires that the cc history is in the same place as the files with new entries and has the name
    # 'cc_hist_tidy'
    new.to_csv(file_dir + '/cc_hist_tidy' + '.csv', index=False)
    
    print("The updated history of cc transactions has been saved to file 'cc_hist_tidy.csv'. You're all done!")
    print("You may now delete files {}".format(files_processed))
    print("they have been processed and added to the cc hist")
    
    return new

# Do it

In [123]:
filepath = '../../../Finances/cc info'

In [124]:
hist_files = glob.glob(filepath + '/*.csv')

In [125]:
#full cc hist to update
full_cc_hist = open_full_hist([z for z in hist_files if 'tidy' in z][0])

In [126]:
new_stuff, files_processed = all_things_to_add(hist_files, full_cc_hist)

In [127]:
save_new_cc_hist (full_cc_hist, new_stuff, filepath, files_processed)

The updated history of cc transactions has been saved to file 'cc_hist_tidy.csv'. You're all done!
You may now delete files ['../../../Finances/cc info\\chase_20180813_to_20181116.CSV', '../../../Finances/cc info\\citi_YTD_until_20181124.CSV', '../../../Finances/cc info\\discover-YTD_until_20181124.csv']
they have been processed and added to the cc hist

,date,price,desc,card,cat,st close,st open
0,2013-12-01,4.79,"//USC Income (2,000/mo). Open date unknown",amex -2002,NaN,12/27/2013,12/1/2013
1,2014-01-01,259.39,NaN,amex -2002,NaN,1/27/2014,12/28/2013
2,2014-02-01,343.67,NaN,amex -2002,NaN,2/24/2014,1/28/2014
3,2014-03-01,237.71,NaN,amex -2002,NaN,3/27/2014,2/25/2014
4,2014-04-01,288.67,NaN,amex -2002,NaN,4/25/2014,3/28/2014
5,2014-05-01,182.03,NaN,amex -2002,NaN,5/27/2014,4/26/2014
6,2014-06-01,475.33,NaN,amex -2002,NaN,6/26/2014,5/28/2014
7,2014-07-01,326.33,NaN,amex -2002,NaN,7/27/2014,6/27/2014
8,2014-08-01,346.95,NaN,amex -2002,NaN,8/27/2014,7/28/2014
9,2014-09-01,164.56,NaN,amex -2002,NaN,9/26/2014,8/28/2014
10,2014-10-01,307.70,NaN,amex -2002,NaN,10/27/2014,9/27/2014
11,2014-11-01,265.87,NaN,amex -2002,NaN,11/26/2014,10/28/2014
12,2014-12-01,424.86,NaN,amex -2002,NaN,12/26/2014,11/27/2014
13,2015-01-01,492.27,(bought LIB),amex -2002,NaN,1/27/2015,12/27/2014
14,2015-02-01,205.33,NaN,amex -2002,NaN,2/24/2015,1/28/2015
15,2015-03-01,310.22,NaN,amex -2002,NaN,3/27/2015,2/25/2015
16,2015-04-01,584.24,(bought kaplan),amex -2002,NaN,4/27/2015,3/27/2015
17,2015-05-01,521.30,(bought Uworld),amex -2002,NaN,5/27/2015,4/27/2015
18,2015-06-01,184.77,NaN,amex -2002,NaN,6/27/2015,5/27/2015
19,2015-07-01,324.40,NaN,amex -2002,NaN,7/27/2015,6/27/2015
20,2015-08-01,494.87,"(bought maggy maid, was paid back by roomates)",amex -2002,NaN,8/27/2015,7/27/2015
21,2015-09-01,224.18,NaN,amex -2002,NaN,9/27/2015,8/27/2015
22,2015-10-01,428.84,"//Begin Caltech Income (2,666.67/mo)",amex -2002,NaN,10/27/2015,9/27/2015
23,2015-11-01,363.99,NaN,amex -2002,NaN,11/27/2015,10/27/2015
24,2015-12-01,345.70,NaN,amex -2002,NaN,12/27/2015,11/27/2015
25,2016-01-01,573.70,"(also bought computer, but reimbursed 894.94)",amex -2002,NaN,1/27/2016,12/27/2015
26,2016-02-01,407.37,NaN,amex -2002,NaN,2/27/2016,1/27/2016
27,2016-03-01,611.88,(bought LIB tix),amex -2002,NaN,3/27/2016,2/27/2016
28,2016-04-01,864.00,(bought airline tix to PA and SEA),amex -2002,NaN,4/27/2016,3/27/2016
29,2016-05-01,413.02,(bought stuff for SEA trip with grace),amex -2002,NaN,5/27/2016,4/27/2016
...,...,...,...,...,...,...,...
691,2018-10-10,14.95,AMZN Mktp US*MT8SC7KX2 Amzn.com/bill WA,citi -6845,NaN,NaN,NaN
692,2018-10-10,9.99,AMZN Mktp US*MT4G647P0 Amzn.com/bill WA,citi -6845,NaN,NaN,NaN
693,2018-10-10,21.85,Amazon.com*MT4AU8IP2 Amzn.com/bill WA,citi -6845,NaN,NaN,NaN
694,2018-10-10,1451.04,FIJI AIRWAYS SYDNEY AUS,citi -6845,NaN,NaN,NaN
695,2018-10-11,15.32,Amazon.com*MT9H92I22 Amzn.com/bill WA,citi -6845,NaN,NaN,NaN
696,2018-10-12,-726.14,AUTOMATIC PAYMENT - THANK YOU,citi -6845,NaN,NaN,NaN
697,2018-10-12,2.07,CITY PARKING METERS 626-7446454 CA,citi -6845,NaN,NaN,NaN
698,2018-10-13,15.87,MODAN ARTISANAL RAMEN S PASADENA CA,citi -6845,NaN,NaN,NaN
699,2018-10-14,33.76,SHELL OIL 12357376008 PACIFIC PALIS CA,citi -6845,NaN,NaN,NaN
700,2018-10-17,-403.01,AUTOMATIC PAYMENT - THANK YOU,discover -1362,Payments and Credits,NaN,NaN
701,2018-10-25,31.27,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN
702,2018-10-26,60.00,CITY OF ALHAMBRA FINAN 626-5705007 CA,citi -6845,NaN,NaN,NaN
703,2018-10-30,10.66,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN
704,2018-11-02,51.00,CITY CITATIONS & PERMI 626-7444360 CA,citi -6845,NaN,NaN,NaN
705,2018-11-03,30.86,CHEVRON 0208458 BANNING CA,citi -6845,NaN,NaN,NaN
706,2018-11-05,-239.95,AUTOMATIC PAYMENT - THANK YOU,chase -8723,NaN,NaN,NaN
707,2018-11-05,0.71,MAIL SERVICES PASADENA CA,citi -6845,NaN,NaN,NaN
708,2018-11-06,1.25,CITY PASADENA,chase -8723,NaN,NaN,NaN
709,2018-11-06,55.04,TIBET NEPAL HOUSE PASADENA CA,discover -1362,Restaurants,NaN,NaN
710,2018-11-08,15.35,RALPHS #0021 SOUTH PASADEN CA,citi -6845,NaN,NaN,NaN
711,2018-11-10,99.00,GROUPON INC GROUPON.COM IL,citi -6845,NaN,NaN,NaN
712,2018-11-11,20.00,NEON MONA GLENDALE CA,citi -6845,NaN,NaN,NaN
713,2018-11-11,31.97,SHELL OIL 12481614001 ALHAMBRA CA,citi -6845,NaN,NaN,NaN
714,2018-11-11,32.00,LEMONADE GLENDALE GLENDALE CA,discover -1362,Restaurants,NaN,NaN
715,2018-11-12,-1705.82,AUTOMATIC PAYMENT - THANK YOU,citi -6845,NaN,NaN,NaN
716,2018-11-16,2.00,"PKG PS 1-6, KEC, 9",chase -8723,NaN,NaN,NaN
717,2018-11-17,-17.93,AUTOMATIC PAYMENT - THANK YOU,discover -1362,Payments and Credits,NaN,NaN
718,2018-11-18,23.40,RALPHS #0021 SOUTH PASADENCA,discover -1362,Supermarkets,NaN,NaN
719,2018-11-19,25.13,IMPERIAL WESTERN BEER LOS ANGELES CA,citi -6845,NaN,NaN,NaN
720,2018-11-20,1.75,LA METRO FILLMORE SQPS PASADENA CA,citi -6845,NaN,NaN,NaN