In [2]:
import numpy as np
import pandas as pd

import glob

import datetime

import re

import os

# Chase statements

## functions

In [201]:
def add_20 (string):
    """
    makes 2 digit 2000's years ('17 or '10) into the 4 digit equivalent. If it's already 4 digit, leave it alone.
    
    Takes (string) which is the full date string of format mm/dd/yy or mm/dd/yyyy
    """
    #check if it's a 2 digit year
    if string[-3] == '/':
        
        return string[:-2] + '20' + string[-2:]
    
    #if it's already a 4 digit year, return as is
    elif string[-3] == '0':
        
        return string

In [30]:
def get_dtime (string):
    """
    converts strings to datetime objects using datetime.strptime mostly just wrote this so I could .apply() it in pandas
    method chains
    
    takes (string) which is the full date of format mm/dd/yyyy (can't be 2 digit year)
    """
    return datetime.datetime.strptime(string, '%m/%d/%Y')

In [299]:
def open_close (df_from_pdf):
    """
    produces a list of series slices [opening datetime, closing datetime] by searching for the (hopefully)
    single row where "opening/closing date" is listed, hopefully with the actual values as a separate cell
    than "opening/closing date" string
    ---Takes---
    df_from_pdf : a whole pdf derived credit card statement as a dataframe
    
    ---Returns---
    dates  :  [opening datetime, closing datetime] as series slices (I hope this is ok)
    """
    
    #copy so not mod orig
    df = df_from_pdf.copy()
    
    #get just the actual data in the row with opening and closing date
    df = df.dropna(axis=0, how='all').loc[df['Unnamed: 0'] == 'Opening/Closing Date', :].dropna(axis=1, how='all')
    
    #columns are default column titles that are annoying, rename to numbers
    df.columns = [i for i in range(len(df.columns))]
    
    #df now has 2 columns [0] = 'opening/closing date', [1] = 'mm/dd/yy - mm/dd/yy'
    open_close = df[1].str.split('-', expand=True)
    
    dates = []
    for i in range(len(open_close.columns)):
        dates.append(open_close[i].str.strip().apply(add_20).apply(get_dtime).values[0])
    
    #dates has open date first and close date second
    return dates

In [300]:
def is_date_string (entry):
    
    """
    decides whether or not a string matches the pattern 'mm/dd...'
    just checks if that patterns is present at the beginning of the string, doesnt check for end of string
    because statements sometimes have concatenated a bunch of strings into one giant entry that just begins
    with mm/dd
    """
    
    if isinstance(entry, str):
    
        bb = re.match(r"([0-9]{1,2}?)/([0-9]{1,2}?)", entry)

        if bb:
            return True
        else:
            return False
    else:
        return False

In [301]:
def date_desc_price (row_of_df):
    
    """
    takes a row of a dataframe containing one transaction's information
    the row must have at least 3 separate columns (others holding NaNs) with date, description, price
    they must be in that order
    
    returns a dictionary with {'date':date, 'desc':description, 'price':price} for use in making dataframes later
    """
    
    #have to drop on index because a row slice is also a series object which doesn't have multiple columns
    row = row_of_df.dropna(axis='index', how='all')
    
    #create tuples that pair date/desc/price to the appropriate item extracted from the row
    #and make a dictionary where date/desc/price : appropriate data. This makes it easier to
    #make dataframes later
    date_desc_price_dict = {i:j for (i,j) in zip(['date', 'desc', 'price'], [item for item in row])}
    

    return date_desc_price_dict

In [302]:
def expand_all_one_cell (df_row):
    """
    if an entry has all the info smashed into the first ('date') cell in the excel sheet,
    this function pulls out the date, desc and price and returns a dictionary that can be added
    into the cleaned transaction dataframe
    """
    
    entry = df_row['date']
    
    sp = ' '
    spaces = [pos for (pos, char) in enumerate(entry) if char == sp]
    
    first_space = spaces[0]
    last_space = spaces[-1]
    
    date = entry[:first_space]
    
    try:
        price = float(entry[last_space:])
    except:
        price = entry[last_space:]
    
    desc = entry[first_space:last_space].strip()
    
    
    return {i:j for (i,j) in zip(['date', 'desc', 'price'], [date, desc, price])}

In [303]:
def expand_2_in_one (df_row):
    
    entry = df_row['date']
    
    sp = ' '
    spaces = [pos for (pos, char) in enumerate(entry) if char == sp]
    
    first_space = spaces[0]
    
    date = df_row['date'][:first_space]
    desc = df_row['date'][first_space:].strip()
    price = df_row['desc']
    
    return {i:j for (i,j) in zip(['date', 'desc', 'price'], [date, desc, price])}

In [304]:
def remove_n_line (df):
    """
    sometimes the first entry in the date column is concatenated with a newline ('\n') and Purchases
    This splits at the new line and takes just the date
    """
    for row in df.index:
    
        entry = df.loc[row, 'date'] 

        if '\n' in entry:
            df.loc[row, 'date'] = entry.split('\n')[0]
        else:
            pass
        
    return df

In [305]:
def extract_all_date_desc_price (raw_df):
    
    """
    takes in a raw statement df read in from the xlsx file, searches using regex for dates of form 'mm/dd' in the
    first column, then extracts just those rows, cleans them up, uses function date_desc_price() to attempt to
    extract and label each piece of information appropriately and returns a dataframe with just the transaction
    information. Because of variable formatting in the parent xlsx, there will be errors, which I clean up later.
    """
    
    #get the indices in the statement where the first columns entry is a date, which should identify only transaction rows
    indx_where_trans = raw_df['Unnamed: 0'].apply(is_date_string)

    #get these transactions as a slice with a fresh index and no junky NaNs
    just_trans = (raw_df.loc[indx_where_trans, :]
                  .dropna(axis='columns', how='all')
                  .reset_index(drop=True)
                 )

    #make a list of dictionaries that hold all the date/desc/price info
    trans_dicts=[]
    for row in just_trans.index:

        trans_dicts.append(date_desc_price(just_trans.loc[row]))
        
    #make a nice clean dataframe with the information you want
    poss_err_trans = remove_n_line(pd.DataFrame(trans_dicts))
    
    return poss_err_trans

In [306]:
def correct_squishing_errors (date_desc_price_df):
    """
    there is variability in the parent xlsx documents that concatenates description and sometimes price to the date
    column, this checks for these errors by looking for NaN's in the transactions dataframe and then doing the proper
    correction based on the NaN pattern. The result is an dataframe with all the same transactions, but with concat
    errors fixed. The index is out of order as a result of this, can easily sort to fix.
    """
    
    for index in date_desc_price_df.index:
        
        #get a single row, may have NaNs in fields that have been concatenated into fields to the left
        h = date_desc_price_df.loc[index]

        #NaN's aren't equal to each other so this test will check for them
        #without triggering the weird np.isnan error when checking strings
        test = [item==item for item in h]
        
        #complete row
        if test == [True, True, True]:
            pass
        #date and desc squashed together, price is in desc
        elif test == [True, True, False]:
            date_desc_price_df = pd.concat([date_desc_price_df, pd.DataFrame(expand_2_in_one(h), index=[index])], axis='index')
        #all are squashed in first column
        elif test == [True, False, False] or test == [True]:
            date_desc_price_df = pd.concat([date_desc_price_df, pd.DataFrame(expand_all_one_cell(h), index=[index])], axis='index')
            
    date_desc_price_df = date_desc_price_df.dropna(axis='index', how='any')
    
    return date_desc_price_df

In [307]:
def remove_YEN (trans_df):
    """
    due to japan trip, there are some lines that have a date and the word "YEN" in them, but arent transactions
    remove these
    """
    
    for row in trans_df.index:
        #get a row
        r = trans_df.loc[row]
        
        for x in r:
            if 'YEN' in str(x):
                trans_df = trans_df.drop(row, axis=0)
    
    return trans_df

In [308]:
def complete_trans_date (trans_df):
    """
    transaction dates dont have years right now, sometimes transactions are from multiple years 
    (some are in 12/dd/2016, some are in 01/dd/2017). Add the proper year to the date column and
    extract that date to datetime
    """
    
    #check if this statement spans the change of a year
    c = trans_df.loc[0, 'st close'].year
    o = trans_df.loc[0, 'st open'].year
    
    year_diff = c - o
    
    #the statement stays within the same year
    if year_diff == 0:
        #doesn't matter which year to append
        trans_df['date'] = trans_df['date'] + '/' + str(c)
        
    #we change over years in this statement
    elif year_diff == 1:
        #where are the january transactions that should get the updated date
        where = ['01/' in d for d in trans_df['date']]
        
        #replace the january transactions with the closing date's year, which should be advanced
        trans_df.loc[where, 'date'] = trans_df.loc[where, 'date'] + '/' + str(c)
        
        #the one's that shouldn't get the advanced year
        not_where = [not x for x in where]
        
        #add the not advanced year to these dates
        trans_df.loc[not_where, 'date'] = trans_df.loc[not_where, 'date'] + '/' + str(o)
        
    else:
        raise ValueError('this statement appears to span multiple years, that doesnt make sense')
        
    trans_df['date'] = trans_df['date'].apply(get_dtime)
    
    return trans_df

In [309]:
def munge_one_statement (filepath):
    #open data
    df = pd.read_excel(filepath)

    #get the opening and closing dates as a list [open, close]
    o_c = open_close(df)
    
    #get the cleaned up, but still error prone transctions df
    poss_err_trans = extract_all_date_desc_price(df)
    
    #correct the concatenation errors
    trans_clean = correct_squishing_errors(poss_err_trans)
    
    #add the statement association information
    trans_clean['st open'] = o_c[0]
    trans_clean['st close'] = o_c[1]
    
    #remove any lines that have "YEN" because they aren't transactions
    trans_clean = remove_YEN(trans_clean)
    
    #complete and make datetime of the transaction date column
    trans_clean = complete_trans_date(trans_clean)
    
    return trans_clean

In [310]:
def all_sts_together (directory_with_st_xlsx):
    
    sts = glob.glob(directory_with_st_xlsx + '/*x8723-.xlsx')
    
    all_sts = []
    for statement_xlsx in sts:
        
        all_sts.append(munge_one_statement(statement_xlsx))
        
    full_hist = pd.concat(all_sts, axis=0)
    
    return full_hist

### work

In [333]:
dir_path = '../../../Finances/cc info/chase(-8723) statements/csv'

In [334]:
hist = all_sts_together(dir_path)

C:\Users\geeze\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [335]:
#last statement was all buggy, so i just manually got the info out
last = complete_trans_date(pd.read_excel('../../../Finances/cc info/chase(-8723) statements/csv/clean st 20181008.xlsx'))

In [336]:
#put together
full_hist = pd.concat([hist, last], axis=0)

In [337]:
full_hist = full_hist.sort_values(by='date').reset_index(drop=True)
full_hist['card'] = 'chase -8723'

In [342]:
full_hist.loc[full_hist['desc'] == 'AUTOMATIC PAYMENT - THANK YOU', :]

,date,desc,price,st open,st close,card
28,2016-08-05,AUTOMATIC PAYMENT - THANK YOU,-285.91,2016-07-09,2016-08-08,chase -8723
46,2016-09-05,AUTOMATIC PAYMENT - THANK YOU,-1401.21,2016-08-09,2016-09-08,chase -8723
70,2016-10-05,AUTOMATIC PAYMENT - THANK YOU,-333.94,2016-09-09,2016-10-08,chase -8723
88,2016-11-04,AUTOMATIC PAYMENT - THANK YOU,-999.56,2016-10-09,2016-11-08,chase -8723
107,2016-12-05,AUTOMATIC PAYMENT - THANK YOU,-453.86,2016-11-09,2016-12-08,chase -8723
141,2017-01-05,AUTOMATIC PAYMENT - THANK YOU,-395.25,2016-12-09,2017-01-08,chase -8723
164,2017-02-05,AUTOMATIC PAYMENT - THANK YOU,-695.5,2017-01-09,2017-02-08,chase -8723
183,2017-03-05,AUTOMATIC PAYMENT - THANK YOU,-833.92,2017-02-09,2017-03-08,chase -8723
210,2017-04-05,AUTOMATIC PAYMENT - THANK YOU,-967.29,2017-03-09,2017-04-08,chase -8723
224,2017-05-05,AUTOMATIC PAYMENT - THANK YOU,-1126.64,2017-04-09,2017-05-08,chase -8723
231,2017-06-05,AUTOMATIC PAYMENT - THANK YOU,-874.42,2017-05-09,2017-06-08,chase -8723
235,2017-07-05,AUTOMATIC PAYMENT - THANK YOU,-146.77,2017-06-09,2017-07-08,chase -8723
242,2017-08-04,AUTOMATIC PAYMENT - THANK YOU,-77.85,2017-07-09,2017-08-08,chase -8723
254,2017-09-05,AUTOMATIC PAYMENT - THANK YOU,-130.52,2017-08-09,2017-09-08,chase -8723
261,2017-10-05,AUTOMATIC PAYMENT - THANK YOU,-168.48,2017-09-09,2017-10-08,chase -8723
265,2018-02-05,AUTOMATIC PAYMENT - THANK YOU,-4.71,2018-01-09,2018-02-08,chase -8723
277,2018-03-05,AUTOMATIC PAYMENT - THANK YOU,-36.07,2018-02-09,2018-03-08,chase -8723
280,2018-04-05,AUTOMATIC PAYMENT - THANK YOU,-503.55,2018-03-09,2018-04-08,chase -8723
281,2018-05-04,AUTOMATIC PAYMENT - THANK YOU,-34.72,2018-04-09,2018-05-08,chase -8723
292,2018-08-05,AUTOMATIC PAYMENT - THANK YOU,-13.32,2018-07-09,2018-08-08,chase -8723
296,2018-09-05,AUTOMATIC PAYMENT - THANK YOU,-26.78,2018-08-09,2018-09-08,chase -8723
302,2018-10-05,AUTOMATIC PAYMENT - THANK YOU,-43.9,2018-09-09,2018-10-08,chase -8723

In [340]:
full_hist.to_csv('../../../Finances/cc info/chase(-8723) statements/chase_up_to_20181008.csv', index=False)

# Citi statements

In [137]:
def strip_comma (entry):
    #if the entry is NOT a null (nan)
    if not pd.isnull(entry):

        if ',' in entry:
            
            entry = entry.replace(',', '')

    return entry

In [148]:
def make_price (df):
     
    #work with the credit info
    cre = df['Credit']
    
    #where to flip credit to negative debit
    i = cre.dropna().index
    
    df.loc[i, 'Debit'] = '-' + df.loc[i, 'Credit'].apply(strip_comma)
    
    #rename for consistent column names
    df = df.rename(columns = {'Debit' : 'price'})
    
    #get rid of commas
    df['price'] = df['price'].apply(strip_comma).astype(float)

    df = df.drop('Credit', axis='columns')
    
    
    return df

In [144]:
def fix_date_desc (df):
    
    #using get_dtime from chase munge
    df['date'] = df['date'].apply(get_dtime)
    
    df['desc'] = df['desc'].str.split('\n', expand=True)[0]
    
    df.loc[df['desc'].str.contains('AUTOPAY'), 'desc'] = 'AUTOMATIC PAYMENT - THANK YOU'
    
    return df

In [152]:
def munge_citi_hist (file):
    
    df = pd.read_csv(file)
    
    df = make_price(df)
    
    df = df.rename(columns = {'Description' : 'desc', 'Date' : 'date'}).drop('Status', axis = 'columns')
    
    df = fix_date_desc(df)
    
    df['card'] = 'citi -6845'
    
    return df

In [155]:
d = '../../../Finances/cc info/citi(-6845) history/*.csv'
files = glob.glob(d)

In [156]:
full_hist = []

for file in files:
    
    df_clean = munge_citi_hist(file)
    
    full_hist.append(df_clean)
    
citi_hist = pd.concat(full_hist, axis='index')

In [160]:
citi_hist.to_csv('../../../Finances/cc info/citi(-6845) history/citi_up_to_20181026.csv', index=False)

# Discover

In [189]:
def standard_cols (df):
    
    return (df.rename(columns = {'Trans. Date' : 'date', 'Description' : 'desc', 'Amount' : 'price', 'Category' : 'cat'})
            .drop('Post Date', axis='columns')
           )

In [190]:
def replace_autopay (df):
    
    i = df['desc'].str.contains('DIRECTPAY')
    
    df.loc[i, 'desc'] = 'AUTOMATIC PAYMENT - THANK YOU'
    
    return df

In [191]:
def munge_disc_hist (file):
    
    df = pd.read_csv(file)
    
    df = standard_cols(df)
    
    df = replace_autopay(df)
    
    df['date'] = df['date'].apply(get_dtime)
    
    df['card'] = 'discover -1362'
    
    return df

In [192]:
d = '../../../Finances/cc info/discover(-1362) statements/*Statement*.csv'
files = glob.glob(d)

In [193]:
full_hist = []

for file in files:
    
    df_clean = munge_disc_hist(file)
    
    full_hist.append(df_clean)
    
disc_hist = pd.concat(full_hist, axis='index')

In [194]:
disc_hist.to_csv('../../../Finances/cc info/discover(-1362) statements/disc_up_to_20181002.csv', index=False)

# Amex

In [238]:
def make_approx_dates (df):
    
    for i in df.index:
    
        year = df.loc[i, 'st close'].year
        mo = df.loc[i, 'st close'].month
        #just make all transactions occur on the first of the month
        #since majority of each statement period is in that month
        day = '01'

        df.loc[i, 'date'] = str(mo) + '/' + day + '/' + str(year)
        
    df['date'] = df['date'].apply(get_dtime)
        
    return df

In [239]:
h = pd.read_excel('../../../Finances/cc info/amex(-2002) history.xlsx')

In [240]:
h = h.rename(columns = {'period' : 'date', 'notes' : 'desc', 'amnt' : 'price'})
h['card'] = 'amex -2002'

In [241]:
h['st open'] = h['date'].str.split('-', expand=True)[0].str.replace(' ', '').apply(add_20).apply(get_dtime)

h['st close'] = h['date'].str.split('-', expand=True)[1].str.replace(' ', '').apply(add_20).apply(get_dtime)

In [242]:
h = make_approx_dates(h)

In [245]:
h.to_csv('../../../Finances/cc info/amex(-2002)_TIDY.csv', index=False)

## Concatenate all cc history

In [5]:
os.chdir(r'C:\Users\geeze\Documents\Finances\cc info')

In [79]:
citi = r'C:\Users\geeze\Documents\Finances\cc info\citi(-6845) history\citi_up_to_20181026.csv'
disc = r'C:\Users\geeze\Documents\Finances\cc info\discover(-1362) statements\disc_up_to_20181002.csv'
amex = r'C:\Users\geeze\Documents\Finances\cc info\amex(-2002)_TIDY.csv'
chase = r'C:\Users\geeze\Documents\Finances\cc info\chase(-8723) statements\chase_up_to_20181008.csv'

ccs = [citi, disc, amex, chase]

In [80]:
hists = []

for cc in ccs:
    hist = pd.read_csv(cc)
    
    hists.append(hist)
    
hists

[           date                                      desc    price        card
 0     4/21/2017  LA TRANSIT AVIATIONQPS LOS ANGELES   CA      1.75  citi -6845
 1     4/23/2017  CHEVRON 0090199        ALHAMBRA      CA     25.33  citi -6845
 2     4/27/2017  LA CITY PARKING METER  LOS ANGELES   CA      0.25  citi -6845
 3     4/27/2017  LA CITY PARKING METER  LOS ANGELES   CA      6.00  citi -6845
 4     4/27/2017  AMAZON MKTPLACE PMTS   AMZN.COM/BILL WA     31.75  citi -6845
 5     4/29/2017  REO 0570-013-456       0570013456    GBR     5.60  citi -6845
 6      5/4/2017  AMAZON MKTPLACE PMTS   AMZN.COM/BILL WA     72.97  citi -6845
 7      5/6/2017  AMAZON MKTPLACE PMTS   AMZN.COM/BILL WA     72.97  citi -6845
 8      5/8/2017  CHEVRON 0090199        ALHAMBRA      CA     29.08  citi -6845
 9     5/11/2017  BLAZING STONE PIZZA    LOS ANGELES   CA     16.09  citi -6845
 10    5/12/2017  MAGNOLIA HOUSE         PASADENA      CA    190.00  citi -6845
 11    5/17/2017  MEMBERSHIP FEE MAY 17-APR 18                  NaN  citi -6845
 12    5/17/2017  FOREIGN TRANSACTION FEE                      0.16  citi -6845
 13    5/20/2017  MORLEY FIELD DISC GOLF CORONADO      CA      6.50  citi -6845
 14    5/21/2017  AMAZON MKTPLACE PMTS   AMZN.COM/BILL WA    -72.97  citi -6845
 15    5/24/2017  AMAZON MKTPLACE PMTS   AMZN.COM/BILL WA      8.59  citi -6845
 16    5/26/2017  LA TRANSIT MISSION QPS SOUTH PASADEN CA      1.75  citi -6845
 17    5/26/2017  MAIN TERM BURG20352001 ST PAUL       MN     10.77  citi -6845
 18    5/27/2017  LAXSHUTTLETIX.COM      714-507-1165  CA      9.75  citi -6845
 19    5/31/2017  LA TRANSIT UNION STQPS LOS ANGELES   CA      1.75  citi -6845
 20    5/31/2017  LAXSHUTTLETIX.COM      714-507-1165  CA      9.75  citi -6845
 21     6/5/2017  SP * CROSSINGS COFFEE  8588296113    CA     37.18  citi -6845
 22     6/5/2017  AMTRAK .1560679111726  08008727245   DC     43.70  citi -6845
 23     6/7/2017  CHEVRON 0090199        ALHAMBRA      CA     27.30  citi -6845
 24     6/9/2017  CITY CITATIONS & PERMI 626-7444360   CA     48.00  citi -6845
 25    6/11/2017  YOGURTLAND LITTLE TOKY LOS ANGELES   CA      4.41  citi -6845
 26    6/11/2017  582 GREAT CLIPS AT COS ALHAMBRA      CA     10.99  citi -6845
 27    6/12/2017             AUTOMATIC PAYMENT - THANK YOU  -378.98  citi -6845
 28    6/12/2017  LA TRANSIT FILLMOREQPS PASADENA      CA      1.75  citi -6845
 29    6/12/2017  LA TRANSIT LITTLE TQPS LOS ANGELES   CA      1.75  citi -6845
 ..          ...                                       ...      ...         ...
 278   8/21/2018  AMZN Mktp US           Amzn.com/bill WA     32.08  citi -6845
 279   8/22/2018  SUPER KING MARKET #3   ALTADENA      CA     21.20  citi -6845
 280   8/24/2018  SEVEN GRAND LA         LOS ANGELES   CA      7.57  citi -6845
 281   8/24/2018  JOES AUTO PARKS 812 S  LOS ANGELES   CA     12.00  citi -6845
 282   8/25/2018  PIPES CAFE CARDIFF     CARDIFF BY TH CA      7.81  citi -6845
 283   8/25/2018  CHEVRON 0353586        SAN DIEGO     CA     29.86  citi -6845
 284   8/26/2018  SQ *SQ *WAYFARER BREAD La Jolla      CA      6.39  citi -6845
 285   8/30/2018  CALTECH-JPL STORE      PASADENA      CA     43.69  citi -6845
 286    9/4/2018  CALTECH-JPL STORE      PASADENA      CA    -21.84  citi -6845
 287    9/5/2018  OLD PASADENA PARKING   PASADENA      CA      6.00  citi -6845
 288    9/6/2018  SOUTHWES5261485505798  800-435-9792  TX    157.96  citi -6845
 289    9/6/2018  SOUTHWES5261485509363  800-435-9792  TX    221.96  citi -6845
 290   9/10/2018  CVS/PHARMACY #09500    VISALIA       CA     13.42  citi -6845
 291   9/10/2018  SAVEMART#67 VISALIA    VISALIA       CA     41.41  citi -6845
 292   9/12/2018             AUTOMATIC PAYMENT - THANK YOU  -430.04  citi -6845
 293   9/20/2018  SQUARE      *SQ *HOT G Los Angeles   CA     25.18  citi -6845
 294   9/20/2018  582 GREAT CLIPS AT COS ALHAMBRA      CA     18.00  citi -6845
 295   9/24/2018  AUTOBAHN FUELS INC     LOS ANGELES   CA     30.66  citi -6845
 296   10/5/2018  SHELL OIL 574427266QPS ENCINITAS     CA     27.13  citi -6845
 297   10/7/2018  SQ *SQ *WAYFARER BREAD La Jolla      CA     40.00  citi -6845
 298  10/10/2018  AMZN Mktp US*MT8SC7KX2 Amzn.com/bill WA     14.95  citi -6845
 299  10/10/2018  AMZN Mktp US*MT4G647P0 Amzn.com/bill WA      9.99  citi -6845
 300  10/10/2018  Amazon.com*MT4AU8IP2   Amzn.com/bill WA     21.85  citi -6845
 301  10/10/2018  FIJI AIRWAYS           SYDNEY        AUS  1451.04  citi -6845
 302  10/11/2018  Amazon.com*MT9H92I22   Amzn.com/bill WA     15.32  citi -6845
 303  10/12/2018             AUTOMATIC PAYMENT - THANK YOU  -726.14  citi -6845
 304  10/12/2018  CITY PARKING METERS    626-7446454   CA      2.07  citi -6845
 305  10/13/2018  MODAN ARTISANAL RAMEN  S PASADENA    CA     15.87  citi -6845
 306  10/14/2018  SHELL OIL 12357376008  PACIFIC PALIS CA     33.76  citi -6845
 307  10/26/2018   CITY OF ALHAMBRA FINAN 626-5705007   CA    60.00  citi -6845

 [308 rows x 4 columns],
           date                                               desc   price  \
 0    4/24/2018                       RALPHS #0021 SOUTH PASADENCA    1.99
 1    4/22/2018              SUPER KING MARKET #SSU LOS ANGELES CA   18.72
 2    4/20/2018                          CHIPOTLE 0233 REDLANDS CA    7.54
 3    4/20/2018                        VONS STORE 1734 REDLANDS CA   28.19
 4    4/20/2018                WAL-MART SC - #1915 YUCCA VALLEY CA    2.69
 5    4/19/2018                       RALPHS #0021 SOUTH PASADENCA   27.13
 6    4/18/2018                     FREETAXUSA.COM 801-812-1040 UT   12.95
 7     4/9/2018                       RALPHS #0021 SOUTH PASADENCA   18.65
 8     4/2/2018                     $50 STATEMENT CREDIT W 1ST PUR  -50.00
 9     4/1/2018                       RALPHS #0021 SOUTH PASADENCA   19.43
 10    4/1/2018                 SUPER KING MARKET #SSS ALTADENA CA   11.60
 11    4/1/2018                   THE HOME DEPOT #6610 ALHAMBRA CA   15.01
 12   5/23/2018                       RALPHS #0021 SOUTH PASADENCA    7.62
 13   5/20/2018                   SUPER KING MARKET #3 ALTADENA CA   18.74
 14   5/17/2018                      AUTOMATIC PAYMENT - THANK YOU -113.90
 15   5/16/2018                       RALPHS #0021 SOUTH PASADENCA   16.45
 16    5/9/2018                       RALPHS #0021 SOUTH PASADENCA    1.08
 17    5/8/2018                       RALPHS #0021 SOUTH PASADENCA   30.23
 18    5/3/2018             LA METRO MISSION STATI SOUTH PASADENCA    1.75
 19    5/2/2018                       RALPHS #0021 SOUTH PASADENCA    6.66
 20   6/17/2018                      AUTOMATIC PAYMENT - THANK YOU  -82.53
 21   6/12/2018                       RALPHS #0021 SOUTH PASADENCA    9.50
 22   6/10/2018                   SUPER KING MARKET #3 ALTADENA CA   29.72
 23    6/8/2018                        VONS STORE 1735 MOORPARK CA    8.88
 24    6/2/2018                  FRAZIER FARMS MARKET OCEANSIDE CA   10.30
 25    6/1/2018                     WHOLEFDS ARR 10237 PASADENA CA   12.25
 26   5/30/2018                       RALPHS #0021 SOUTH PASADENCA   30.65
 27   7/23/2018                       RALPHS #0021 SOUTH PASADENCA    9.38
 28   7/18/2018                       RALPHS #0021 SOUTH PASADENCA    9.32
 29   7/17/2018                      AUTOMATIC PAYMENT - THANK YOU -101.30
 30   7/15/2018                       RALPHS #0021 SOUTH PASADENCA    5.98
 31   7/11/2018                        SALADANG GARDEN PASADENA CA   19.62
 32    7/9/2018                       RALPHS #0021 SOUTH PASADENCA    8.96
 33    7/7/2018                   SUPER KING MARKET #3 ALTADENA CA   24.98
 34    7/6/2018                        SALADANG GARDEN PASADENA CA  148.74
 35   6/28/2018                       RALPHS #0021 SOUTH PASADENCA   35.58
 36   8/25/2018                   ALESMITH BREWING CO SAN DIEGO CA    6.00
 37   8/17/2018                      AUTOMATIC PAYMENT - THANK YOU -262.56
 38   8/10/2018                    DOG HAUS BIERGARDEN PASADENA CA   11.88
 39    8/5/2018             TENDER GREENS SANTA MO SANTA MONICA CA   29.56
 40    8/4/2018                      LEMONADE PASADENA PASADENA CA   14.14
 41    8/4/2018                 TST* WURSTK CHE - VENICE VENICE CA   25.49
 42   7/27/2018                      SHELL 12481614001 ALHAMBRA CA   29.47
 43   9/25/2018                       RALPHS #0021 SOUTH PASADENCA    9.47
 44   9/19/2018                   ABM WESTLAWN 2543 LOS ANGELES CA    8.00
 45   9/18/2018    SQ *PBJ.LA LOS ANGELES CA0001152921508222805112   11.50
 46   9/18/2018  SQ *STICKY RICE LOS ANGELES CA0001152921508222...   11.95
 47   9/17/2018                      AUTOMATIC PAYMENT - THANK YOU -116.54
 48   9/17/2018                       RALPHS #0021 SOUTH PASADENCA   14.85
 49    9/9/2018                      BROTZEIT LOKAL LLC OAKLAND CA   33.59
 50    9/9/2018  SQ *BURNT ENDS BBQ OAKLAND CA00011529215082101...   17.00
 51    9/8/2018                          DER WOLFSKOPF PASADENA CA    7.00
 52    9/8/2018                                     MUA OAKLAND CA   46.60
 53    9/7/2018                     LAZ PARKING 670512 PASADENA CA    6.00
 54    9/7/2018                        SALADANG GARDEN PASADENA CA  179.47
 55    9/6/2018                       RALPHS #0021 SOUTH PASADENCA   38.89
 56   8/28/2018                       RALPHS #0021 SOUTH PASADENCA   18.69
 57  10/17/2018                      AUTOMATIC PAYMENT - THANK YOU -403.01
 58   10/2/2018                       RALPHS #0021 SOUTH PASADENCA   17.93

                           cat            card
 0                Supermarkets  discover -1362
 1                Supermarkets  discover -1362
 2                 Restaurants  discover -1362
 3                Supermarkets  discover -1362
 4                 Merchandise  discover -1362
 5                Supermarkets  discover -1362
 6                    Services  discover -1362
 7                Supermarkets  discover -1362
 8   Awards and Rebate Credits  discover -1362
 9                Supermarkets  discover -1362
 10               Supermarkets  discover -1362
 11           Home Improvement  discover -1362
 12               Supermarkets  discover -1362
 13               Supermarkets  discover -1362
 14       Payments and Credits  discover -1362
 15               Supermarkets  discover -1362
 16               Supermarkets  discover -1362
 17               Supermarkets  discover -1362
 18      Travel/ Entertainment  discover -1362
 19               Supermarkets  discover -1362
 20       Payments and Credits  discover -1362
 21               Supermarkets  discover -1362
 22               Supermarkets  discover -1362
 23               Supermarkets  discover -1362
 24               Supermarkets  discover -1362
 25               Supermarkets  discover -1362
 26               Supermarkets  discover -1362
 27               Supermarkets  discover -1362
 28               Supermarkets  discover -1362
 29       Payments and Credits  discover -1362
 30               Supermarkets  discover -1362
 31                Restaurants  discover -1362
 32               Supermarkets  discover -1362
 33               Supermarkets  discover -1362
 34                Restaurants  discover -1362
 35               Supermarkets  discover -1362
 36                Restaurants  discover -1362
 37       Payments and Credits  discover -1362
 38                Restaurants  discover -1362
 39                Restaurants  discover -1362
 40                Restaurants  discover -1362
 41                Restaurants  discover -1362
 42                   Gasoline  discover -1362
 43               Supermarkets  discover -1362
 44                   Services  discover -1362
 45                Restaurants  discover -1362
 46                Restaurants  discover -1362
 47       Payments and Credits  discover -1362
 48               Supermarkets  discover -1362
 49                Restaurants  discover -1362
 50                Restaurants  discover -1362
 51                Restaurants  discover -1362
 52                Restaurants  discover -1362
 53                   Services  discover -1362
 54                Restaurants  discover -1362
 55               Supermarkets  discover -1362
 56               Supermarkets  discover -1362
 57       Payments and Credits  discover -1362
 58               Supermarkets  discover -1362  ,
          date                                            desc   price  \
 0   12/1/2013      //USC Income (2,000/mo). Open date unknown    4.79
 1    1/1/2014                                             NaN  259.39
 2    2/1/2014                                             NaN  343.67
 3    3/1/2014                                             NaN  237.71
 4    4/1/2014                                             NaN  288.67
 5    5/1/2014                                             NaN  182.03
 6    6/1/2014                                             NaN  475.33
 7    7/1/2014                                             NaN  326.33
 8    8/1/2014                                             NaN  346.95
 9    9/1/2014                                             NaN  164.56
 10  10/1/2014                                             NaN  307.70
 11  11/1/2014                                             NaN  265.87
 12  12/1/2014                                             NaN  424.86
 13   1/1/2015                                    (bought LIB)  492.27
 14   2/1/2015                                             NaN  205.33
 15   3/1/2015                                             NaN  310.22
 16   4/1/2015                                 (bought kaplan)  584.24
 17   5/1/2015                                 (bought Uworld)  521.30
 18   6/1/2015                                             NaN  184.77
 19   7/1/2015                                             NaN  324.40
 20   8/1/2015  (bought maggy maid, was paid back by roomates)  494.87
 21   9/1/2015                                             NaN  224.18
 22  10/1/2015            //Begin Caltech Income (2,666.67/mo)  428.84
 23  11/1/2015                                             NaN  363.99
 24  12/1/2015                                             NaN  345.70
 25   1/1/2016   (also bought computer, but reimbursed 894.94)  573.70
 26   2/1/2016                                             NaN  407.37
 27   3/1/2016                                (bought LIB tix)  611.88
 28   4/1/2016              (bought airline tix to PA and SEA)  864.00
 29   5/1/2016          (bought stuff for SEA trip with grace)  413.02

           card     st open    st close
 0   amex -2002   12/1/2013  12/27/2013
 1   amex -2002  12/28/2013   1/27/2014
 2   amex -2002   1/28/2014   2/24/2014
 3   amex -2002   2/25/2014   3/27/2014
 4   amex -2002   3/28/2014   4/25/2014
 5   amex -2002   4/26/2014   5/27/2014
 6   amex -2002   5/28/2014   6/26/2014
 7   amex -2002   6/27/2014   7/27/2014
 8   amex -2002   7/28/2014   8/27/2014
 9   amex -2002   8/28/2014   9/26/2014
 10  amex -2002   9/27/2014  10/27/2014
 11  amex -2002  10/28/2014  11/26/2014
 12  amex -2002  11/27/2014  12/26/2014
 13  amex -2002  12/27/2014   1/27/2015
 14  amex -2002   1/28/2015   2/24/2015
 15  amex -2002   2/25/2015   3/27/2015
 16  amex -2002   3/27/2015   4/27/2015
 17  amex -2002   4/27/2015   5/27/2015
 18  amex -2002   5/27/2015   6/27/2015
 19  amex -2002   6/27/2015   7/27/2015
 20  amex -2002   7/27/2015   8/27/2015
 21  amex -2002   8/27/2015   9/27/2015
 22  amex -2002   9/27/2015  10/27/2015
 23  amex -2002  10/27/2015  11/27/2015
 24  amex -2002  11/27/2015  12/27/2015
 25  amex -2002  12/27/2015   1/27/2016
 26  amex -2002   1/27/2016   2/27/2016
 27  amex -2002   2/27/2016   3/27/2016
 28  amex -2002   3/27/2016   4/27/2016
 29  amex -2002   4/27/2016   5/27/2016  ,
           date                                       desc   price   st open  \
 0    6/18/2016              THE CRAFTSMAN SANTA MONICA CA   28.08  6/9/2016
 1    6/23/2016          SOUND TRANSIT - SO QPS SEATTLE WA    6.00  6/9/2016
 2    6/23/2016     BIBBSY BEARS TEXAS BBQ PORT ANGELES WA   26.54  6/9/2016
 3    6/23/2016   ARAMARK LOG CABIN RESORT PORT ANGELES WA   81.70  6/9/2016
 4    6/24/2016       SQ *OPTIMISM BREWING COMP Seattle WA    8.00  6/9/2016
 5    6/24/2016         DYNW KLONDIKE GOLD RUSH SEATTLE WA   10.90  6/9/2016
 6    6/24/2016               SEATTLE STREETCAR SEATTLE WA    4.50  6/9/2016
 7    6/24/2016          SOUND TRANSIT - SO QPS SEATTLE WA    4.50  6/9/2016
 8    6/24/2016          ELYSIAN BREWING CO., I SEATTLE WA   51.00  6/9/2016
 9    6/27/2016              RALPHS #0021 SOUTH PASADEN CA   50.67  6/9/2016
 10    7/2/2016            CHEVRON 0203936 LAGUNA HILLS CA   23.79  6/9/2016
 11    7/6/2016              RALPHS #0021 SOUTH PASADEN CA   27.86  6/9/2016
 12    7/8/2016         PAVILIONS STOR00022244 PASADENA CA   13.04  7/9/2016
 13   7/12/2016                 AAA PASADENA-R PASADENA CA   36.35  7/9/2016
 14   7/13/2016              RALPHS #0021 SOUTH PASADEN CA   17.29  7/9/2016
 15   7/16/2016    DELTA AIR   0062113873630 ATLANTA, GEOR  203.86  7/9/2016
 16   7/16/2016       DELTA AIR   0062113045873 ATLANTA GA  166.40  7/9/2016
 17   7/18/2016                    FOREIGN TRANSACTION FEE    6.11  7/9/2016
 18   7/24/2016    DELTA AIR   0062143627772 ATLANTA, GEOR  -36.54  7/9/2016
 19   7/26/2016                    FOREIGN TRANSACTION FEE   -1.09  7/9/2016
 20   7/27/2016              RALPHS #0021 SOUTH PASADEN CA    3.68  7/9/2016
 21   7/27/2016              RALPHS #0021 SOUTH PASADEN CA   36.76  7/9/2016
 22   7/30/2016                CHEVRON 0090199 ALHAMBRA CA   20.73  7/9/2016
 23   7/31/2016   SPIRIT AIRL 4870133713178 800-7727117 FL  230.09  7/9/2016
 24    8/3/2016               FYF FESTIVAL 855-278-6345 CA  237.83  7/9/2016
 25    8/3/2016   SPIRIT AIRL 4870133932388 800-7727117 FL   80.00  7/9/2016
 26    8/5/2016                         ALDI 71080 YORK PA   19.39  7/9/2016
 27    8/5/2016                 SUPERCUTS PA 80444 YORK PA   18.95  7/9/2016
 28    8/5/2016              AUTOMATIC PAYMENT - THANK YOU -285.91  7/9/2016
 29    8/7/2016          BUDGET RENT-A-CAR PHILADELPHIA PA  209.23  7/9/2016
 ..         ...                                        ...     ...       ...
 275  2/25/2018             SHELL OIL 10048330004 KIHEI HI   18.43  2/9/2018
 276  2/25/2018             SHELL OIL 10048330004 KIHEI HI    7.27  2/9/2018
 277   3/5/2018              AUTOMATIC PAYMENT - THANK YOU  -36.07  2/9/2018
 278  3/18/2018         UBER   *TRIP 5KD3D 800-592-8996 CA   11.85  3/9/2018
 279   4/1/2018             CHEVRON 0090851 LOS ANGELES CA   22.87  3/9/2018
 280   4/5/2018              AUTOMATIC PAYMENT - THANK YOU -503.55  3/9/2018
 281   5/4/2018              AUTOMATIC PAYMENT - THANK YOU  -34.72  4/9/2018
 282   5/4/2018         UBER   *TRIP 63VE7 800-592-8996 CA    4.03  4/9/2018
 283   5/4/2018         UBER   *TRIP ZOEXM 800-592-8996 CA   14.39  4/9/2018
 284   5/7/2018         UBER   *TRIP RDEGL 800-592-8996 CA    3.95  4/9/2018
 285   5/7/2018         UBER   *TRIP W2G32 800-592-8996 CA    3.92  4/9/2018
 286   7/6/2018         UBER   *TRIP QAB3H 800-592-8996 CA   13.32  6/9/2018
 287  7/14/2018     CITY OF LAGUNA BEACH I LAGUNA BEACH CA    4.50  7/9/2018
 288  7/15/2018  TST* LA SIRENA GRILL - DO LAGUNA BEACH CA   10.78  7/9/2018
 289  7/27/2018            JOE'S AUTO PARKS LOS ANGELES CA    3.00  7/9/2018
 290   8/2/2018            HOT 8 YOGA PASADENA PASADENA CA    3.00  7/9/2018
 291   8/5/2018     SM CITY PARKING METERS SANTA MONICA CA    2.50  7/9/2018
 292   8/5/2018              AUTOMATIC PAYMENT - THANK YOU  -13.32  7/9/2018
 293   8/7/2018            HOT 8 YOGA PASADENA PASADENA CA    3.00  7/9/2018
 294  8/13/2018              UCSD PARKING FLEX LA JOLLA CA    9.00  8/9/2018
 295   9/3/2018               OLD STONE STATION CAMBRIA CA   34.90  8/9/2018
 296   9/5/2018              AUTOMATIC PAYMENT - THANK YOU  -26.78  8/9/2018
 297   9/9/2018           NATURES BEST FOOD OAKLAND CA       87.16  9/9/2018

In [81]:
full_hist = pd.concat(hists)

C:\Users\geeze\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [82]:
full_hist['date'] = full_hist['date'].apply(get_dtime)

In [83]:
full_hist = (full_hist.reindex(columns = ['date', 'price', 'desc', 'card', 'cat', 'st close', 'st open'])
             .sort_values(by='date')
             .reset_index(drop=True)
            )

In [86]:
last = max(full_hist['date'])

# full_hist.to_csv(r'C:\Users\geeze\Documents\Finances\cc_hist_to_{}{}{}.csv'.format(last.year, last.month, last.day), index=False)